<!-- Content wrapper Start -->
<div class="adds-wrapper">
<div class="tab-content">
    <div id="grid-view" class="tab-pane fade active show">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Cameras</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 202</div>
            <span class="price-save">
                $200
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-1.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Canon SX Powershot ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Jone</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-display"></i>Electronic </a>         
                </div>
                </div>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> New York, US</a>
                <a href="ads-details.html" class="float-right">View Details</a> 
            </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Laptop</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 152</div>
            <span class="price-save">
                $1499
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-2.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Apple Macbook Pro ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Jessica</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-laptop"></i>Computers</a>         
                </div>
                </div>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> California, US</a>
                <a href="ads-details.html" class="float-right">View Details</a>   
            </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Cars</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 155</div>
            <span class="price-save">
                $2000
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-3.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Mercedes Benz E200 ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Maria Barlow</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-car"></i>Vehicle </a>       
                </div>
                </div>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> Washington, US</a>
                <a href="ads-details.html" class="float-right">View Details</a>   
            </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Bags</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 129</div>
            <span class="price-save">
                $30
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-4.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Brown Leather Bag ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Rossi Josh</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-leaf"></i>Others</a>       
                </div>
                </div>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> Chicago, US</a>
                <a href="ads-details.html" class="float-right">View Details</a>   
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div id="list-view" class="tab-pane fade">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Cameras</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 200</div>
            <span class="price-save">
                $200
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-1.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Canon SX Powershot ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Jone</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-display"></i>Electronic </a>         
                </div>
                </div>
                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> New York, US</a>
                <a href="ads-details.html" class="float-right">View Details</a> 
            </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Laptop</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 152</div>
            <span class="price-save">
                $1499
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-2.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Apple Macbook Pro ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Jessica</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-laptop"></i>Computers</a>         
                </div>
                </div>
                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> California, US</a>
                <a href="ads-details.html" class="float-right">View Details</a>   
            </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Cars</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 155</div>
            <span class="price-save">
                $2000
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-3.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Mercedes Benz E200 ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Maria Barlow</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-car"></i>Vehicle </a>       
                </div>
                </div>
                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> Washington, US</a>
                <a href="ads-details.html" class="float-right">View Details</a>   
            </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="featured-box">
            <figure>
            <div class="homes-tag featured">Bags</div>
            <div class="homes-tag rent"><i class="lni-heart"></i> 129</div>
            <span class="price-save">
                $30
            </span>
            <a href="#"><img class="img-fluid" src="/assets/img/featured/img-4.jpg" alt=""></a>
            </figure>
            <div class="content-wrapper">
            <div class="feature-content">
                <h4><a href="ads-details.html">Brown Leather Bag ...</a></h4>
                <p class="listing-tagline">Club and shop for you</p>
                <div class="meta-tag">
                    <!-- <div class="listing-review">
                    <span class="review-avg">4.5</span>
                    2 Ratings      
                </div> -->
                <div class="user-name">
                    <a href="viewads.html"><i class="lni-user"></i> Rossi Josh</a>
                </div>
                <div class="listing-category">
                    <a href="#"><i class="lni-leaf"></i>Others</a>       
                </div>
                </div>
                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
            <div class="listing-bottom clearfix">
                <a href="#" class="float-left"><i class="lni-map-marker"></i> Chicago, US</a>
                <a href="ads-details.html" class="float-right">View Details</a>   
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- Content wrapper End -->