    <!-- Page Content -->
    <div class="container">

      <hr class="featurette-divider">

      <!-- First Featurette -->
      <div class="featurette" id="about">

        <img class="featurette-image img-circle img-responsive pull-right" style="width: 382px; height: 522px"
          src="/assets/howitworks/image002.jpg" alt="image002" />
        <h2 class="featurette-heading">Create a Compelling Video Ad</h2>
        <p class="lead">With Connechub you can post a video ad to list a job, promote your business, announce an event,
          unbox the latest item, or sell your stuff. </p>

      </div>

      <hr class="featurette-divider">




      <!-- Second Featurette -->
      <div class="featurette" id="about">

        <img class="featurette-image img-circle img-responsive pull-right" style="width: 382px; height: 522px"
          src="/assets/howitworks/image004.jpg" alt="image004" />

        <span>
          <img
            class="featurette-image img-circle img-responsive pull-left"
            style="width: 34px; height: 34px"
            src="/assets/howitworks/image006.jpg" alt="image006"
          />
        </span>
        <span>
          <h2 class="featurette-heading">Connechub is simple, easy to use, and free to sign up </h2>
        </span>

          <% if !current_user %>
            <p class="lead">First, you need to create your own account
              <a href="https://<%= ENV['APP_ENV'].downcase %>.connechub.com/users/sign_up">
                <span style='font-size:16.0pt;line-height:106%'>here</span>
              </a>, which will allow you to post video ads.
            </p>
          <% end %>
        </p>

      </div>

      <hr class="featurette-divider">

      <!-- third Featurette -->
      <div class="featurette" id="about">

        <img class="featurette-image img-circle img-responsive pull-left" style="width: 421px; height: 365px"
          src="/assets/howitworks/image008.jpg" alt="image008" />

        <span><img class="featurette-image img-circle img-responsive pull-left" style="width: 34px; height: 34px"
            src="/assets/howitworks/image010.jpg" alt="image010" /></span><span>
          <h2 class="featurette-heading">Record a Video</h2>
        </span>
        <p class="lead">Once you have finished creating your account it is time to post a video ad to advertise your
          goods and/or services. It's simple, whip out your phone, and record a video. </p>

      </div>

      <hr class="featurette-divider">

      <!-- Third Featurette -->
      <div class="featurette" id="about">

        <img class="featurette-image img-circle img-responsive pull-right" style="width: 382px; height: 522px"
          src="/assets/howitworks/image012.jpg" alt="image012" />

        <span><img class="featurette-image img-circle img-responsive pull-left" style="width: 34px; height: 34px"
            src="/assets/howitworks/image014.jpg" alt="image014" /></span><span>
          <h2 class="featurette-heading">Create New A Listing</h2>
        </span>
        <p class="lead">Now that you have your video and ready to post. Log in and click on “Post A Video Ad,” select a
          category, and create a listing. It takes as little as 30 seconds to create a listing! </p>
      </div>

      <hr class="featurette-divider">


      <!-- Forth Featurette -->
      <div class="featurette" id="about">

        <img class="featurette-image img-circle img-responsive pull-right" style="width: 382px; height: 522px"
          src="/assets/howitworks/image016.jpg" alt="image016" />

        <span><img class="featurette-image img-circle img-responsive pull-left" style="width: 34px; height: 34px"
            src="/assets/howitworks/image018.jpg" alt="image018" /></span><span>
          <h2 class="featurette-heading">Enjoy your Listing</h2>
        </span>
        <p class="lead">Once you get an email confirmation that the listing has completed, you can now sit back, relax
          and wait for the potential buyers to contact you regarding the goods and/or services you are offering. It’s as
          easy as that! </p>

      </div>

      <hr class="featurette-divider">

    </div>
