# File and file types to ignore
.*
.git*
.docker*
Dockerfile*
**/*.log
**/*.md
**/*.plan
**/*.retry
**/*.tf

# DIR to ignore
.git
docker
docs
spec
terraform
tmp

# exceptions to ignore rules
!.env
!.passwd-s3fs
