# File and file types to ignore
.*
.docker*
.env.*
.git*
.passwd-*
/**/ansible.cfg
cypress.json
Dockerfile*
**/*.log
**/*.md
**/*.plan
**/*.retry
**/*.tf

# DIR to ignore
.git
.terraform
cypress
docker
docs
helper_scripts
spec
terraform
tmp

# exceptions to ignore rules
!.env
!.passwd-s3fs
