# File and file types to ignore
.*
.git*
.docker*
Dockerfile*
**/*.log
**/*.md
**/*.plan
**/*.retry
**/*.tf

# DIR to ignore
.git
docs
spec
terraform
tmp
media-source-dev

# exceptions to ignore rules
!.env
!.passwd-s3fs
