# Rubymine project 
.idea/

# Test and misc files
*.rbc
capybara-*.html
.rspec
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# Ignore bundler config.
/.bundle

# Configs
# actually, we want to track this one. Credentials will be available via ENV VARS or other mechanisms.
#/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore rmvrc
.rvmrc

# If using bower-rails ignore default bower_components path bower.json file
/vendor
*.bowerrc
bower.json

# ignore logs for repo
**/*.log

# ignore ENV file
.env

# *SQL
/docker/mariadb/data.sql
/docker/mariadb/data_dir/
/docs/runbooks/sqlite3_to_mariadb10/**/*.sql

# Ignore generated docs
/docs/api/*

#Ignore Terraform meta-data dir
.terraform
*.tfvars
*.tfstate
*.tfstate.*
*.plan
