# Editor/IDE metadata
.idea/
.vscode/
.tmp/

# dirs to ignore
/cypress
/public/system
/**/tmp
/vendor
/node_modules
# files to ignore
*.log

# Test and misc files
*.rbc
capybara-*.html
.rspec
rerun.txt
.rvmrc
*.bowerrc
bower.json


# Ignore bundler config.
/.bundle

# Ignore generated docs
/docs/api/*

# ignore archive files
**/*.zip
**/*.rar
**.*gz
.passwd*
**/*id_rsa*
