# Editor/IDE metadata
.idea/
.vscode/
.tmp/

# dirs to ignore
/**/tmp
/cypress/screenshots
/cypress/snapshots
/cypress/results
/log
/node_modules
/public/system
/.sass-cache
/vendor

# files to ignore
*.env
*.env.*
*.log
*.log.*
*.tmp

# Test and misc files
.DS_Store
.rspec
.rvmrc
*.bowerrc
*.rbc
bower.json
cypress.json
capybara-*.html
rerun.txt

# Ignore bundler config.
/.bundle

# Ignore generated docs
/docs/api/*

# ignore archive files
**/*.zip
**/*.rar
**.*gz
.passwd*
**/*id_rsa*

