{
  "abort_strategy": "spec",
  "baseUrl": "https://dev.connechub.com/",
  "chromeWebSecurity": false,
  "pageLoadTimeout": 30000,
  "projectId": "q357pv",
  "reporter": "junit",
  "video": false,
  "viewportHeight": 960,
  "viewportWidth": 1440,
  "env": {
    "db": {
      "database": "connechub",
      "host": "",
      "password": "",
      "user": ""
    }
  },
  "reporterOptions": {
    "jenkinsMode": true,
    "mochaFile": "cypress/results/test-[hash].xml",
    "testsuitesTitle": true,
    "toConsole": true
  },
  "retries": {
    "runMode": 2,
    "openMode": 2
  }
}