<div class="col-xs-6 col-sm-4 col-md-3">
  <%= render :partial => 'categories/search' %>
  <%= render :partial => 'partials/side_menu', locals: {
    campus: @campus,
    community: @community,
    free: @free,
    h2f: @h2f,
    housing: @housing,
    jobs: @jobs,
    sale: @sale,
    services: @services,
    unboxing: @unboxing,
  } %>
</div>

<div class="col-xs-6 col-sm-8 col-md-9">
  <div class="grid">
    <% if @listings.present? %>
      <% @listings.each do |listing| %>
        <%= render :partial => 'partials/item_card', locals: {
          listing: listing
        } %>
      <% end %>
    <% else %>
      <p>No listings found!</>
    <% end %>
  </div>
</div>
