<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2>Post Your New Ad</h2>
                <div class = "small-heading", style="color:red">(All fields required.) </div>
            </div>

            <div class="panel-body">

                <%= form_for(@listing, html: {
                    class: 'directUpload',
                    data: {
                        'form-data' => (@s3_direct_post.fields),
                        'url' => @s3_direct_post.url,
                        'host' => URI.parse(@s3_direct_post.url).host
                        }
                    }) do |f| %>

                    <div class="field">
                        <%= f.label :media %><br>
                        <%= f.file_field :media %><br>
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</div>
