<div style="height: 15px; width: 100%;"></div>

<div class="container_12">
  <%= link_to 'Connechub', root_path %>
<hr>

<div>
  <%= render :partial => 'categories/show', locals: {
    campus: @campus,
    community: @community,
    free: @free,
    h2f: @h2f,
    housing: @housing,
    jobs: @jobs,
    listings: @listings,
    sale: @sale,
    services: @services,
    unboxing: @unboxing,
    is_subcat: false,
  }  %>
</div>
