<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2>Upload Media for New Listing</h2>
            </div>

            <div class="panel-body">

                <%= simple_form_for(@listing, html: {
                    authenticity_token: true,
                    data: {
                        'form-data' => (@s3_direct_post.fields),
                        'url' => @s3_direct_post.url,
                        'host' => URI.parse(@s3_direct_post.url).host
                    },
                    class: 'form-horizontal ',
                    id: 'new_listing_upload',
                    multipart: true,
                }) do |f| %>

                    <input id="fileupload" type="file" name="file">
                    <br />
                    <div id="listing_media_info"></div>
                <% end %>

                <button id="listing_create_upload">Submit</button>

<script>
$(function () {
  $('#new_listing_upload').find("input:file").each(function(i, elem) {
    var fileInput = $(elem);
    var form = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    
    $('#listing_media_info').after(barContainer);

    fileInput.fileupload({
        fileInput: fileInput,
        url: form.data('url'),
        type: 'POST',
        autoUpload: false,
        formData: form.data('form-data'),
        paramName: 'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
        dataType: 'XML',  // S3 returns XML if success_action_status is set to 201
        replaceFileInput: false,
        add: function (e, data) {
            $('button#listing_create_upload').off('click').on('click', function () {
                data.submit();
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            progressBar.css('width', progress + '%')
        },
        start: function (e) {
            submitButton.prop('disabled', true);
            progressBar.
                css('background', 'green').
                css('display', 'block').
                css('width', '0%').
                text("Loading...");
        },
        done: function(e, data) {
            console.log('Now AJAX call and update listings.')

            submitButton.prop('disabled', false);
            progressBar.text("Uploading done");

            // extract key and generate URL from response
            var key   = $(data.jqXHR.responseXML).find("Key").text();
            var url   = '//' + form.data('host') + '/' + key;

            // create hidden field
            // var input = $("<input />", { type:'input', name: fileInput.attr('name'), value: url })
            console.log('final filename: ', key)
            var url_path = window.location.pathname.split('/');
            var listings_id = url_path[url_path.length - 1];

            $.ajax({
                type: 'PATCH',
                url: '/listings/update_upload/' + listings_id,
                data: {
                    listing: listings_id,
                    media_file_name: key
                },
                dataType: 'json',
                statusCode: {
                    200: function() {
                        // if the response is a 200, success, fwd to listing item view
                        console.log('Redirecting to listing item view.')
                        window.location.href = "//<%= ENV['APP_HOST'] %>/listings/" + listings_id;
                    }
                }
            })
        },
        fail: function(e, data) {
            submitButton.prop('disabled', false);
            progressBar.
                css("background", "red").
                text("Failed");
        }
      });
  });
});
</script>

            </div>
        </div>
    </div>
</div>

<%= render "processing_overlay" %>
