<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2>Upload Media for New Listing</h2>
            </div>

            <div class="panel-body">

                <%= simple_form_for(@listing, html: {
                    multipart: true,
                    class: 'form-horizontal ',
                    data: {
                        'form-data' => (@s3_direct_post.fields),
                        'url' => @s3_direct_post.url,
                        'host' => URI.parse(@s3_direct_post.url).host
                    }, id: 'listing_create_upload',
                }) do |f| %>

                    <input id="fileupload" type="file" name="file">

                <% end %>

<script>
$(function () {
    $('#fileupload').fileupload({
        autoUpload: true,
        dataType: 'XML',  // S3 returns XML if success_action_status is set to 201
        formData: $('#listing_create_upload').data('form-data'),
        type: 'POST',
        url: $('#listing_create_upload').data('url'),
        // dataType: 'json',
        add: function (e, data) {
            data.context = $('<button/>').text('Upload')
                .appendTo(document.body)
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('Upload finished.');
            console.log('Now AJAX call and update listings.')
        }
    });
});
</script>

            </div>
        </div>
    </div>
</div>

<%= render "processing_overlay" %>
