<!-- Hero Area Start -->
<div id="hero-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-9 col-xs-12 text-center">
        <div class="contents">
          <h1 class="head-title">Welcome to The Largest <span class="year">Video Marketplace</span></h1>
          <p>Buy, sell and promote everything from used cars to electronics, or search for properties, jobs and more</p>
          <div class="search-bar">
            <div class="search-inner">
              <%= form_tag search_listings_path, class: "search-form", method: :get do |f| %>
                <div class="form-group">
                  <%= text_field_tag :search, nil, placeholder: 'What are you looking for?', class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= text_field_tag :location, nil, placeholder: 'City, State, Zip', class: "form-control"%>
                </div>
                <div class="form-group inputwithicon">
                  <div class="select">
                    <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}), class: "form-control"%>
                  </div>
                  <i class="lni-menu"></i>
                </div>
                <button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->