<%= render :partial => 'partials/header_page_title', locals: {
    title: 'Admin'
} %>

<!-- Start Content -->
<div id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-content">
                    <div class="inner-box">
                        <div class="dashboard-wrapper">
                          Total Users: N<br />
                          New this month: N<br />
                          New today: N<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Content -->
