<%= render :partial => 'partials/header_page_title', locals: {
    title: 'Admin'
} %>

<!-- Start Content -->
<div id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-content">
                    <div class="inner-box">
                        <div class="dashboard-wrapper">
                          <p>Total Users: <%= @total %></p>
                          <p>New this month: <%= @month %></p>
                          <p>New today: <%= @today %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Content -->
