<!-- Breadcrumb Start -->
<div class="col-md-12">
    <div class="breadcrumb-wrapper"></div>
    <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <% if (@category) %>
        <li>
            <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
            <%= link_to category_path(category.id) do %><%= category.name %><% end %>
        </li>
    <% end %>
    <% if (@subcategory) %>
        <li>
            <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
            <a href="../subcategories/<%= subcategory.id %>"><%= subcategory.name %></a>
        </li>
    <% end %>
    </ol>
</div>
<!-- Breadcrumb End -->