<!-- Breadcrumb Start -->
<div class="breadcrumb-wrapper"></div>
    <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <% if (@category) %>
        <li><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span> <%= category.name %></li>
    <% end %>
    <% if (@subcategory) %>
        <li><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span> <%= subcategory.name %></li>
    <% end %>
    </ol>
</div>
<!-- Breadcrumb End -->