<!-- Header Area wrapper Starts -->
<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
            <div class="theme-header clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="/assets/images/ch_small_grey.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-left">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories <i class="lni-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-car"></i> Automotive</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-heartbeat"></i> Beauty and Health</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-book-open"></i> Books, Music, Toys</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-tshirt"></i> Clothing and Accessories</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-laptop-house"></i> Electronics</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-couch"></i> Home and Garden</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Jobs</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-paw"></i> Pets</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-sign"></i> Real Estate</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-tools"></i> Services</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-quidditch"></i> Sports and Outdoors</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-glass-cheers"></i> Weddings and Parties</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">
                            Contact
                            </a>
                        </li>
                    </ul>
                    <div class="header-top-right float-right">
                    <a href="login.html" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                    <a href="register.html" class="header-top-button"><i class="lni-pencil"></i> Register</a>
                    </div>
                    <div class="post-btn">
                    <a class="btn btn-common" href="post-ads.html"><i class="lni-pencil-alt"></i> Post an Ad</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu" data-logo="/assets/images/ch_small_grey.png"></div>
    </nav>
    <!-- Navbar End -->
</header>
<!-- Header Area wrapper End -->
