<script>
$(function () {
    $("form").submit(function () {
        console.log('Form submit detected.')
        $("#overlay").toggle()
    })
})
</script>
<div id="overlay">
    <%= image_tag("loading_spinner.gif", :alt => ENV['NAME']) %>
</div>
