<script>
$(document).on('ready', function () {
    $("form").submit(function () {
        console.log('Form submit detected.')
        $("#overlay").toggle()
    })
})
</script>
<div id="overlay">
    <img src="https://<%= ENV['STAGE'] == 'prd' ? 'www' : ENV['STAGE'] %>.<%= ENV['NAME'] %>.com/assets/images/loading_spinner.gif" />
</div>
