<%= render :partial => 'partials/header_page_title', locals: {
    title: 'Your Profile'
} %>

<!-- Start Content -->
<div id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <%= render :partial => 'users/partials/side_menu' %>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="page-content">
                    <div class="inner-box">
                        <div class="dashboard-wrapper">
                            <%= render :partial => 'users/partials/item_summary' %>
                            <%= render :partial => 'users/partials/item_card_mini' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->