<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/img/coffeecup.jpg);"></div>

<!-- About Section Start -->
<section id="about" class="section-padding">
    <div class="container">
    <div class="row">
        <div class="col-12 text-center">
        <div class="heading">
            <h1 class="section-title">About Connechub</h1>
            <h4 class="sub-title">Why We Are Unique</h4>
        </div>
        </div>
        <br>


        <div class="col-md-6 col-lg-6 col-xs-12">
        <div class="about-wrapper">
            <p class="intro-desc"><b>Connechub is a Video Classified Ad website where you can;</b> <br>

            <b>Buy:</b> tons of great items nearby - like home goods, electronics, and cars — from your neighbors.<br>
            
            <b>Sell:</b> your stuff and make money, with something more than a picture — like a Video Ad on Connechub.<br>
            
            <b>Promote:</b> your business with an eye-catching Video Ad to attract more customers. <br><br>
            
            Try Connechub, it is simple and easy to post video content from any source.
            </p>
            <a href="post-ads.html" class="btn btn-common btn-lg">Post an Ad</a>
        </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
        <iframe width="500" height="300" src="https://www.youtube-nocookie.com/embed/dLcNdWQ92a8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>
    </div>
</section>
<!-- About Section End -->