    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Who we are</h2>
                <p>As a classified advertisement platform Connechub is introducing a new way for you buy, sale, trade and advertise locally. Users can post video ads from any source such as; their cellphone (Android, IOS), DLSR camera, Mirrorless Camera, Video camera or any other video source.</p>
                <p>As the old cliché goes, <b>"A picture is worth a thousand words"</b>.</p>
                <p>However, Connechub was founded on the phrase that <b>"If a picture is worth a thousand words, then a video is worth a million more."</b></p>
               <br>
                <p>
       
<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default btn-lg" %>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Connechub, LLC.</strong><br />
                    8807 citrus village dr 107<br />
                    tampa,fl 33626
                </address>
                <address>
                    <abbr title="Phone">P:</abbr> (980) 219-3107
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:corporate@connechub.com">corporate@connechub.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <%=image_tag "download.png", class: 'img-circle img-responsive img-center', style: 'width: 250px; height: 240px' %>
                <h2>Connechub Anywhere</h2>
               <p>Connechub users can find what they want, where and when via our various platforms. Whether it’s our responsive site running seamlessly across PC, tablet and smartphones or through dedicated iOS apps for iPhone & iPad, and Android apps for phone & tablet.</p>
            </div>
            <div class="col-sm-4">
                <%=image_tag "marketing.jpg", class: 'img-circle img-responsive img-center', style: 'width: 250px; height: 240px' %>
                <h2>Targeting</h2>
                <p>Connechub is here to help you reach your desired audience by providing you with actionable data based on behavior, location and keywords. All of which will help maximize the effectiveness of your Video Ads.</p>
            </div>
            <div class="col-sm-4">
                <%=image_tag "479876652.jpg", class: 'img-circle img-responsive img-center', style: 'width: 250px; height: 240px' %>
                <h2>The People  </h2>
                <p>Listen, Learn and Inspire the people around you</p>
                <p>Are you looking to work with a talented team to help build new and exciting things? If so, Connechub offers an agile environment while using a variety of frameworks and tools to craft code that will help solve challenges for our users. <a href="mailto:careers@connechub.com">Submit your Resume…</a></p>
                </div>
        </div>
        <!-- /.row -->

        <hr>



    </div>
</div>
<div style="height: 15px; width: 100%;"></div>