<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/coffeecup.jpg);"></div>

<!-- Career Section Start -->
<section id="about" class="section-padding" >
    <div class="container" >
    <div class="row">
        <div class="col-12 text-center">
        <div class="heading">
            <h1 class="section-title">Welcome to Connechub</h1>
            <h4 class="sub-title">Career with Us </h4>
        </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12" style="background-color: rgba(248, 217, 158, 0.904);">
        <div class="about-wrapper"><br><br>
        
            <hr>
            <h4 class="intro-desc">Connechub is always looking for skilled, talented, self-starter technologist!</h4>
            <h4 class="intro-desc">Send us your resume and lets start a conversation.</h4><hr>
            <p> <strong><i class="lni-envelope"></i></strong> <a href="mailto:support@connechub.com">support@connechub.com</a></p>
        </div>
        </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
        <img src="assets/img/career.jpg" alt="">
        </div> 
    </div>
    </div>
</section>
<!-- Career Section End -->