
<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">

        <%=image_tag "Customer-Service.jpg", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>

        <h2 class="featurette-heading">Welcome to Connechub</h2>
        <p class="lead">Customer Service is at the center of everything we do at Connechub, and we empower our Customer Service professionals to do all they can to make the The Hub experience better for our customers. </p>
        <p class="lead"> They assess needs, create unique solutions and resolve concerns with the goal of exceeding each customer's expectations, no matter how large or small the request.</p>

        <hr class="featurette-divider">

    <small class="small-heading">Opportunities</small>

    <p style="color:#ff3333">Connechub is always looking for skilled, talented, self-starter technologist! Send us your resume to <a href="mailto:support@connechub.com">support@connechub.com</a>; lets start a conversation.</p>
</div>

<hr class="featurette-divider">

<!-- Footer -->
<div style="height: 15px; width: 100%;"></div>
