
    <!-- Page Content -->
   <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <%=image_tag "Human-resources.jpg", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>
            <h2 class="featurette-heading">Welcome to Connechub
                <div class="text-muted">Corporate/HR Team</div>
            </h2>
            <p class="lead">As a part of the Corporate/ HR team, you are able to contribute to our human capital system, which enables us to be an employee of choice. </p>
         <hr class="featurette-divider">
        <small class = "small-heading">Opportunities</small> 
        <p style="color:#ff3333">At this time Connechub is not hiring. Please check back from time to time for any open positions being offered. </p>
        </div>

        <hr class="featurette-divider">

        
        <!-- Footer -->
   
    </div>
</div>
<div style="height: 15px; width: 100%;"></div>