
    <!-- Page Content -->
   <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <%=image_tag "web-design.jpg", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>
            <h2 class="featurette-heading">Welcome to Connechub
                <div class="text-muted">Web Design Team</div>
            </h2>
            <p class="lead">The Web design team drives our business forward. Be part of a team that creates new products and services designed to simplify our customers' lives. </p>
          <p class="lead">The Design team works on a wide range of activities—customer research, site design, new product development and analyzing market trends—to deliver new products to improve the customer experience on Connechub.</p>
          
          <hr class="featurette-divider">
        <small class = "small-heading">Opportunities</small>
       <p style="color:#ff3333">At this time Connechub is not hiring. Please check back from time to time for any open positions being offered. </p>
         </div>

        <hr class="featurette-divider">

        
        <!-- Footer -->
   
    </div>
</div>
<div style="height: 15px; width: 100%;"></div>