<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/images/coffeecup.png);"></div>

<!-- FAQ Section Start -->
<div class="faq section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-faq text-center">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
        <!-- accordion start -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Connechub
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <!-- jumpto data start Connechub-->
                <ul>
                  <li><a href="#Connechub01">WHAT IS CONNECHUB?</a></li>
                  <li><a href="#Connechub02">WHAT IS PERMITTED ON CONNECHUB?</a></li>
                  <li><a href="#Connechub03">WHAT IS NOT PERMITTED ON CONNECHUB?</a></li>
                </ul>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub01">
                  <p style="color:#0a9b0a;"><b>WHAT IS CONNECHUB?</b></p>
                </span>
                <p>
                  Connechub is a unique peer-to-peer video marketplace that allows users to post video ads to buy, sell
                  and promote everything from used cars to electronics, or search for properties, jobs and more.
                  <br><br>With Connechub you can, <b>Buy:</b> tons of great items nearby - like home goods, electronics,
                  and cars — from your neighbors. <b>Sell:</b> your stuff and make money, with something more than a
                  picture — like a Video Ad on Connechub. <b>Promote:</b> your business with an eye-catching Video Ad to
                  attract more customers. <br><br>Try Connechub it is free, simple, and easy to use. Just: click on
                  www.connechub.com/users/sign_up
                </p>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub02">
                  <p style="color:#0a9b0a;"><b>WHAT IS PERMITTED ON CONNECHUB?</b></p>
                </span>
                <p>
                  Although Connechub allows most items to be sold and/or promoted on the platform, there are certain
                  items that are not allowed and will present a legal, health and safety risk to our users.
                </p>
                <hr color="DodgerBlue" size="10">
                <!-- start -->
                <span id="Connechub03">
                  <p style="color:#0a9b0a;"><b>WHAT IS NOT PERMITTED ON CONNECHUB?</b></p>
                </span>
                <p>
                  Connechub offer a list of items that are completed <b>banned</b> and items that may be subject to
                  regulatory restrictions.
                  <br>
                  <b>NOTE!</b> It is a good idea to make sure your item is legal to sell before posting on Connechub
                  <br>
                  <br>
                  <b>Banned Items listed below:</b>
                <ul>
                  <li>Weapons of any kind (such as firearms, firearm parts and magazines, ammunition, BB and pellet
                    guns, tear gas, stun guns, switchblade knives, and martial arts weapons)</li>
                  <li>Products that infringe copyright or trademark laws</li>
                  <li>Perishable items (for example: food)</li>
                  <li>Advertising</li>
                  <li>Videos and descriptions containing a reference to another website, app or merchandise</li>
                  <li>Defective or poor-quality items</li>
                  <li>Items in violation of good manners, law or legal restrictions</li>
                  <li>Products that are published as “free” but with no intention of giving them away for free</li>
                  <li>Items that do not have a realistic price</li>
                  <li>Used cosmetics</li>
                  <li>Gift Cards</li>
                </ul>
                <br>
                <b>Illegal items listed here could violate the law, statute or regulation to local, state, provincial,
                  national, or international law. Therefore, will not be allow under any circumstances:</b>
                <ul>
                  <li>Alcoholic beverages</li>
                  <li>Blood, body fluids or body parts</li>
                  <li>Burglary tools</li>
                  <li>Counterfeit currency, coins and stamps</li>
                  <li>Counterfeit products</li>
                  <li>Electronic surveillance equipment</li>
                  <li>Seized goods</li>
                  <li>Government and transit uniforms, IDs and licenses</li>
                  <li>Illegal drugs and drug paraphernalia, vitamins or protein supplements</li>
                  <li>All types of illegal services and products</li>
                  <li>Hazardous materials</li>
                  <li>Fireworks, destructive devices and explosives</li>
                  <li>Identity documents, personal financial records and personal information (in any form, including
                    mailing lists)</li>
                  <li>Products that encourage or facilitate illegal activities</li>
                  <li>Lottery tickets and slot machines</li>
                  <li>Obscene material and all types such as (beastility)</li>
                  <li>All types of offensive material</li>
                  <li>Pesticides</li>
                  <li>Badges and uniforms pertaining to police and other security forces</li>
                  <li>Prescription drugs and medical devices</li>
                  <li>Recalled items</li>
                  <li>Stocks and other securities</li>
                  <li>Stolen property</li>
                  <li>Tobacco products</li>
                  <li>snuff film, or snuff movie, (a movie in a purported genre of movies in which a person is actually
                    murdered or commits suicide)</li>
                  <li>Hate or Offensive Materials</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Account and Settings
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">

                <!-- jumpto data start Account and Settings -->
                <ul>
                  <li><a href="#Connechub04">HOW DO I REGISTER FOR AN ACCOUNT?</a></li>
                  <li><a href="#Connechub05">HOW DO I LOGIN INTO CONNECHUB?</a></li>
                  <li><a href="#Connechub06">I FORGOT MY PASSWORD.</a></li>
                  <li><a href="#Connechub07">CAN I CHANGE MY USERNAME?</a></li>
                  <li><a href="#Connechub08">HOW DO I CHANGE MY PROFILE PHOTO?</a></li>
                  <li><a href="#Connechub09">HOW DO I CHANGE MY PASSWORD?</a></li>
                  <li><a href="#Connechub10">HOW DO I LOGOUT OF MY ACCOUNT?</a></li>
                  <li><a href="#Connechub11">WHAT IS MY ADS?</a></li>
                </ul>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub04">
                  <p style="color:#0a9b0a;"><b>HOW DO I REGISTER FOR AN ACCOUNT?</b></p>
                </span>
                <p>Registering with Connechub is simple. At the top right corner of every page, you will see the
                  “Register” link in between “Login” and “Post and Ad”. Click on the link to create an account.
                  <br>
                  <br>
                  <b>Example:</b> <br>
                  <img src="/assets/images/newwebsitephots/register.png" alt="">
                  <br><br>
                  Once on the page. Simply enter the following to create an account:
                <ul>
                  <li>Username</li>
                  <li>Email Address</li>
                  <li>Password</li>
                  <li>Retype Password</li>
                  <li>Check the box (By registering, you accept our Terms of Service)</li>
                  <li>Click the “Register” button to complete the process.</li>
                </ul>
                <br>
                <b>Example:</b> <br>
                <img src="/assets/images/newwebsitephots/register2.png" alt="">
                <br>
                </p>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub05">
                  <p style="color:#0a9b0a;"><b>HOW DO I LOGIN INTO CONNECHUB?</b></p>
                </span>
                <p>To log in to Connechub you will need your email address and password. Login is located at the top
                  right corner of every page; you will see the “Login” link next to “Register”.
                  <br>
                  <br>
                  <b>Example:</b> <br>
                  <img src="/assets/images/newwebsitephots/login.png" alt="">
                  <br><br>
                  Once on the page. Simply enter the following log in:
                <ul>
                  <li>Email Address</li>
                  <li>Password</li>
                  <li>Check the box if you what to stay logged into Connechub.</li>
                  <li>Click the “Submit” button to Log in</li>
                </ul>
                <br>
                <br>
                <b>Example:</b> <br>
                <img src="/assets/images/newwebsitephots/login2.png" alt="">
                <br><br>
                </p>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub06">
                  <p style="color:#0a9b0a;"><b>I FORGOT MY PASSWORD.</b></p>
                </span>
                <p>
                  If you forgot your password when attempting to login click on “<b>Login</b>”. At the bottom of the
                  Login page is where you will find “<b>Forgot Password</b>”.
                  <br>
                  <br>
                  <b>Example:</b> <br>
                  <img src="/assets/images/newwebsitephots/forgotpassword.png" alt="">
                  <br><br>
                  Once on the forgot password page enter your email address, then click on Send my password. You will
                  get an on screen message that reads <b>”If your email address exists in our database, you will receive
                    a password recovery link at your email address in a few minutes.”</b>. Once the email is received,
                  please the instructions to change your password.
                  <br>
                  <br>
                  <b>Example:</b> <br>
                  <img src="/assets/images/newwebsitephots/forgotpassword2.png" alt="">
                  <br><br>
                </p>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub07">
                  <p style="color:#0a9b0a;"><b>CAN I CHANGE MY USERNAME?</b></p>
                </span>
                <p>
                  <b>Short Answer - NO! </b><br>
                  When you register your account, you are asked to create a Username. This name is unique to you and you
                  only. Therefore, you cannot change your Username. The Username is what you and everyone else sees. It
                  is the name that is associated with your ad and everything you do within Connechub.
                  <br><br>
                </p>
                <!--  start -->
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub08">
                  <p style="color:#0a9b0a;"><b>HOW DO I CHANGE MY PROFILE PHOTO?</b></p>
                </span>
                <p>
                  Once you are logged into Connechub, click on the <b>“My Profile”</b> link at the top right corner of
                  every page to change your<b>“Profile Picture”</b>. <br>
                  <br>
                  <b>Example:</b> <br>
                  <img src="/assets/images/newwebsitephots/myprofile.png" alt="">
                  <br><br>
                  Once on the page. Simply enter the following to create an account:
                <ul>
                  <li>Locate <b>“Profile Image”</b></li>
                  <li>Click on the <b>“Choose File” </b>button</li>
                  <li>A popup box of your picture folder will appear.</li>
                  <li>Choose a photo from your computer that you would like to upload.</li>
                  <li>Once you are done click on the <b>“Update Profile”</b> button to complete the change</li>
                </ul>
                <br>
                <b>Example:</b> <br>
                <img src="/assets/images/newwebsitephots/profileimages.png" alt="">

                <br><br>
                </p>

                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub09">
                  <p style="color:#0a9b0a;"><b>HOW DO I CHANGE MY PASSWORD?</b></p>
                </span>
                <p>
                  Once you are logged into Connechub, click on the <b>“My Profile”</b> link at the top right corner of
                  every page to change your <b>“Password”</b>. <br>
                  <br>
                  <b>Example:</b> <br>
                  <img src="/assets/images/newwebsitephots/myprofile.png" alt="">
                  <br><br>
                  Once on the page:
                <ul>
                  <li>Locate <b>“New Password”</b> and enter a new password </li>
                  <li>The next step is to retype the new password in the <b>“New Password Confirmation”</b> box.</li>
                  <li>Once you are done click on the <b>“Update Profile”</b> button to complete the change</li>
                </ul>
                <br>
                <b>Example:</b> <br>
                <img src="/assets/images/newwebsitephots/password.png" alt="">

                <br><br>
                </p>

                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub10">
                  <p style="color:#0a9b0a;"><b>HOW DO I LOGOUT OF MY ACCOUNT?</b></p>
                </span>
                <p>

                  Logging out is simple. Connechub offers two ways to do so:
                <ol>
                  <li><b>1)</b> At the top right corner of every page Next to the <b>“Post an Ad”</b> button there is a
                    link to <b>"Logout"</b>once you are logged into Connechub. <i>(Example 1)</i></li>
                  <li><b>2)</b> The other way to <b>“Logout”</b> is located in <b>“My Profile”</b> <i>(Example 2)</i>
                  </li>
                </ol>
                <br>
                <b>Example 1: </b> <br>
                <img src="/assets/images/newwebsitephots/logout.png" alt="">

                <br><br>
                <br>
                <b>Example 2: </b> <br>
                <img src="/assets/images/newwebsitephots/logout2.png" alt="">

                <br>
                </p>


                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub11">
                  <p style="color:#0a9b0a;"><b>WHAT IS MY ADS?</b></p>
                </span>
                <p><b>“My Ads”</b> gives you details of all of your ads. This is also where you can edit your ads.
                  <br><br>
                  Here is a diagram of how to understand <b>“My Ads”</b> :
                <ol>
                  <li><b>1)</b> Photo – this shows you thumbnail image of your video. </li>
                  <li><b>2)</b> Title – this is the title of the Ad.</li>
                  <li><b>3)</b> Category – this shows what category this ad is located in. </li>
                  <li><b>4)</b> Price – this reflects the price of the Ad.</li>
                  <li><b>5)</b> Action – 3 buttons </li>
                  <ul>
                    <li style="color:#0a9b0a;"><b> a. Eye Image – this button takes the Ad.</b></li>
                    <li style="color:#000000;"><b> b. Pencil Image – this button is used when you what to edit the
                        ad.</b> </li>
                    <li style="color:#9e1006;"><b> c. Trash Can Image – use this button to delete the Ad. </b></li>
                  </ul>
                  <li><b>6)</b> All Ads – click this button to view all your Ads.</li>
                  <li><b>7)</b> Sold – shows ads that you have marked as sold.</li>
                  <li><b>8)</b> Active – shows all or your currently active Ads. </li>
                  <li><b>9)</b> Expired – shows all or your expired Ads. </li>
                </ol>
                <br>
                <b>Example 1: </b> <br>
                <img src="/assets/images/newwebsitephots/myad.png" alt="">
                <br><br>
                </p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Buyer
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <!-- jumpto data start Buying -->
                <ul>
                  <li><a href="#Connechub12">HOW DO I SEARCH FOR A VIDEO AD?</a></li>
                  <li><a href="#Connechub13">HOW DO I BUY AN ITEM ON CONNECHUB?</a></li>
                  <li><a href="#Connechub14">HOW DO I SEND THE SELLER A MESSAGE? </a></li>
                  <li><a href="#Connechub16">WHAT IF A SELLER DOESN'T RESPOND TO MY MESSENGES?</a></li>
                </ul>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub12">
                  <p style="color:#0a9b0a;"><b>HOW DO I SEARCH FOR A VIDEO AD?</b></p>
                </span>
                <p>Connechub is Video Marketplace arranged by categories where users can search by location. Search is
                  located at the top in the middle of every non-informational page.
                  <br><br>
                  <b>Example: </b> <br>
                  <img src="/assets/images/newwebsitephots/search.png" alt="">
                  <br><br>
                  To search for an item on Connechub, enter the following:
                <ul>
                  <li><b> Product keyword – </b>terms that best describe the product or service you are looking for
                  </li>
                  <li><b>All locations – either /or</b> </li>
                  <ul>
                    <li>o City </li>
                    <li>o State </li>
                    <li>o Zip</li>
                  </ul>
                  <li><b>Select categories – </b> select between 12 categories </li>
                  <ul>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-car"></i> Automotive</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-heartbeat"></i> Beauty and Health</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-book-open"></i> Books, Music, Toys</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-tshirt"></i> Clothing and Accessories</a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-laptop-house"></i> Electronics</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-couch"></i> Home and Garden</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Jobs</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-paw"></i> Pets</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-sign"></i> Real Estate</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-tools"></i> Services</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-quidditch"></i> Sports and Outdoors</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-glass-cheers"></i> Weddings and Parties</a>
                    </li>
                  </ul>
                  <li>Once you have entered your search terms, location and category click <b>“Search Now”</b> for
                    results</li>
                </ul>

                <br>

                </p>



                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub13">
                  <p style="color:#0a9b0a;"><b>HOW DO I BUY AN ITEM ON CONNECHUB?</b></p>
                </span>
                <p>To buy an items on Connechub click on the <b>“Message the Seller”</b> button to contact the seller
                  via email. From there you and the seller can arrange a pick up location to complete the transaction.
                  <br><br>
                  <b>Example: </b> <br>
                  <img src="/assets/images/newwebsitephots/howtobuy.png" alt="">
                  <br><br>
                </p>



                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub14">
                  <p style="color:#0a9b0a;"><b>HOW DO I SEND THE SELLER A MESSAGE?</b></p>
                </span>
                <p>Personal messages to a seller is done by clicking on the<b>“Message the Seller”</b> button. Make sure
                  you are logged into your personal email account.
                  <br>
                  <br>
                  <b>Example: </b> <br>
                  <img src="/assets/images/newwebsitephots/howtobuy.png" alt="">
                  <br><br>
                </p>

                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub16">
                  <p style="color:#0a9b0a;"><b>WHAT IF A SELLER DOESN'T RESPOND TO MY MESSANGES?</b></p>
                </span>
                <p>If the Seller doesn’t respond to your messages, it basically means the item has been sold it the
                  seller has not viewed their emails. I would ask that you give the seller time to react to your offer.
                  Once the Seller responds review your email box for a Yah or Nah on your offer.
                  <br><br>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  Seller
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <!-- jumpto data start Selling -->
                <ul>
                  <li><a href="#Connechub17">HOW DO A POST AN AD?</a></li>
                  <li><a href="#Connechub18">IS CONNECHUB FREE TO USE?</a></li>
                  <li><a href="#Connechub19">HOW SOON DOES MY VIDEO AD EXPIRE?</a></li>
                  <li><a href="#Connechub20">HOW OFTEN CAN I POST A VIDEO AD?</a></li>
                  <li><a href="#Connechub21">CAN I POST PICTURES INSTEAD OF A VIDEO?</a></li>
                  <li><a href="#Connechub22">HOW DO I SET A PRICE?</a></li>
                  <li><a href="#Connechub23">HOW DO I EDIT MY VIDEO AD?</a></li>
                  <li><a href="#Connechub24">HOW DO I DELETE MY VIDEO AD?</a></li>
                  <li><a href="#Connechub25">WHERE ARE MY ITEMS?</a></li>
                  <li><a href="#Connechub26">HOW DO I ACCEPT AN OFFER?</a></li>
                  <li><a href="#Connechub27">HOW DO I PICK A MEETING LOCATION?</a></li>
                  <li><a href="#Connechub28">HOW DO I MARK AN ITEM AS SOLD?</a></li>
                  <li><a href="#Connechub29">WHAT ARE THE SIZE LIMITS FOR POSTING A VIDEO?</a></li>
                </ul>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub17">
                  <p style="color:#0a9b0a;"><b>HOW DO A POST AN AD?</b></p>
                </span>
                <p>
                  Creating an Ad on Connechub is easy and simple. <br><br>
                  To start you must first have a profile with Connechub. If you do not have account please click on
                  <b>“Register”</b> to create one. <br><br>
                  Once you have an account and you are logged in, click on <b>“Post an Ad”</b> in the top right corner
                  and complete each field below. if you miss a field the system will not allow you to continue.
                  <br><br>
                  Complete all fields below:
                <ul>
                  <li><b>Main Categories/ Sub-category – </b><br>field is where you will choose the best
                    category/subcategory to place your ad. We recommend you choose wisely for this is where your ad will
                    be placed until you sell your item or until you edit your ad. </li><br>
                  <li><b>Price – </b><br>field is where you can post the price of your item <b>“0.00”</b>. However, if
                    you’re not sure what an item is worth or just want to sell something and don’t need a specific
                    amount of money, you can simply type in <b>“willing to negotiate”</b> This lets buyers make an offer
                    of any price. You’re free to accept, negotiate, or say no to any offer. <br><br></li>
                  <li><b>Condition – </b><br>field is where you will select the condition of your item for sale.
                    <br><br> </li>
                  <li><b>Posting Title – </b><br>field is where you will post the title of your ad. This is important
                    because users can search by keywords, so it is important to create a title that will make it easy
                    for users to find your item. <br><br></li>
                  <li><b>City – </b><br>field is where you will post the city you and your ad is located in. This is
                    important because users can search by city, so it is important to get this right so that it will
                    make it easy for users to find your Ad. <br> <br></li>
                  <li><b>State – </b><br>field is where you will post the state you and your ad is located in. This is
                    important because users can search by state, so it is important to get this right so that it will
                    make it easy for users to find your Ad.<br> <br> </li>
                  <li><b>Zip – </b><br>field is where you will post the zip code you and your ad is located in. This is
                    important because users can search by zip code, so it is important to get this right so that it will
                    make it easy for users to find your Ad. <br><br></li>
                  <li><b>Description – </b><br>this field where you will describe your item or services. To have a
                    better chance at selling your item or getting your services noticed we recommend you be very clear
                    about what is it you are selling and what services you offer.<br> <br></li>
                  <li><b>Drop media files – </b><br>field is where you will upload your video ad by clicking on
                    <b>“Choose File” or “drag and drop”</b> once you have chosen your video file, the name of the file
                    will show to the right of the chosen button. <br><br></li>
                  <li>Finally, once you have completed all fields click on “Post Your Ad” button. This will then send
                    you directly to the ad you created. YOUR ARE DONE!</li>
                </ul>

                <br>
                </p>




                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub18">
                  <p style="color:#0a9b0a;"><b>IS CONNECHUB FREE TO USE?</b></p>
                </span>
                <p><b>Yes and No! </b> Connechub is 100% free and doesn’t charge Sellers a fee for listing their items
                  in <b>most categories</b>.
                  <br>
                  <b> <br>However, </b> listed below are a few categories/subcategories that do cost to post per ad.
                <ul>
                  <li>Job postings — <b>$35</b> </li>
                  <li>Real Estate postings — <b>$10</b> </li>
                  <li>Automotive postings — <b>$5</b> </li>
                  <li>Services — <b>$5</b> </li>
                </ul>
                <br>
                <b>Visa, MasterCard, and American Express are accepted.</b>
                <br><br>
                </p>




                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub19">
                  <p style="color:#0a9b0a;"><b>HOW SOON DOES MY VIDEO AD EXPIRE?</b></p>
                </span>
                <p>Most Video Ads created has a post life of 30 days, however there are certain Video Ads that you must
                  pay for which gives you a longer posting time.
                  <br><br>
                  <b> Below is a chart of the Video Ad Posting Schedule. </b>
                <table style="width:80%">
                  <tr>
                    <th>Posting Type</th>
                    <th>Expiration Dates </th>

                  </tr>
                  <tr>
                    <td>
                      <font color="limegreen"><b>Free:</b></font> All Other categories
                    </td>
                    <td>30 days</td>
                  </tr>

                  <tr>
                    <td>
                      <font color="limegreen"><b>Paid:</b></font> Job postings
                    </td>
                    <td>45 days</td>

                  </tr>
                  <tr>
                    <td>
                      <font color="limegreen"><b>Paid:</b></font> Housing postings
                    </td>
                    <td>45 days</td>

                  </tr>
                  <tr>
                    <td>
                      <font color="limegreen"><b>Paid:</b></font> Automotive
                    </td>
                    <td>45 days</td>

                  </tr>
                  <tr>
                    <td>
                      <font color="limegreen"><b>Paid:</b></font> Services
                    </td>
                    <td>45 days</td>

                  </tr>
                </table <br><br>
                </p>





                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub20">
                  <p style="color:#0a9b0a;"><b>HOW OFTEN CAN I POST A VIDEO AD?</b></p>
                </span>
                <p>With Connechub there are no limits to when, where or how many times you post an item, just as long as
                  your Video Ad is posted in the right category.
                  <br> <br>Remember most items posted have a post life of only <b> 30 days</b>. So, this gives you the
                  freedom to post when and where you want.

                  <br>
                  <br>
                </p>

                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub21">
                  <p style="color:#0a9b0a;"><b>CAN I POST PICTURES INSTEAD OF A VIDEO?</b></p>
                </span>
                <p><b>NOT AT THIS TIME! </b><br>
                  Connechub is a unique local peer-to-peer video marketplace that allows users to <b>Post Video Ads </b>
                  instead of photos to buy, trade, advertise services and or sell their stuff. However, be on the
                  lookout.

                  <br><br>
                </p>


                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub22">
                  <p style="color:#0a9b0a;"><b>HOW DO I SET A PRICE?</b></p>
                </span>
                <p>Set a reasonable price so buyers have an idea of what to offer. This will help you sell the item
                  faster and prevent a flood of low offers. For suggestions on pricing your item, you can try searching
                  for similar items in your area to see what other sellers are asking for.
                  <br> <br> <b>However,</b> if you’re not sure what an item is worth or just want to sell something and
                  don’t need a specific amount of money, you can simply type in <b>“willing to negotiate”</b> in the
                  <b>“$”</b> field. This lets buyers make an offer of any price. You’re free to accept, negotiate, or
                  say no to any offer.
                  <br><br>
                </p>

                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub23">
                  <p style="color:#0a9b0a;"><b>HOW DO I EDIT MY VIDEO AD?</b></p>
                </span>
                <p>Editing your Video Ad is easy and simple.
                  <br><br>
                  Here is how:
                <ul>
                  <li>You must first click on<b> “Log in” </b> to your account</li>
                  <li>Once you are signed in click on <b> “My Profile”</b> in the top right corner. </li>
                  <li>While on your <b>“My Profile”</b> page click on <b>“My Ads”</b> located to the left of the page,
                    under <b>“My Profile Settings”</b> <br><br></li>
                  <li>Once on the page you will see a list of all the Video Ads you have created. To edit your Video Ad
                    click on <b>“Pencil Image“</b> to edit the Ad. <br><br></li>
                  <li>Once you click the <b>"Pencil Image"</b>, you will be sent to another page where you will be able
                    to make changes to that ad.</li>

                </ul>
                <br>
                <b>Pencil Image: </b> <br>
                <img src="/assets/images/newwebsitephots/editicon.png" alt="">
                <br><br>
                </p>


                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub24">
                  <p style="color:#0a9b0a;"><b>HOW DO I DELETE MY VIDEO AD?</b></p>
                </span>
                <p>Deleting your Video Ad is easy and simple.
                  <br><br>
                  <b>Here is how:</b>
                <ul>
                  <li>You must first click on <b> “Log in”</b> to your account</li>
                  <li>Once you are signed in click on <b> “My Profile”</b> in the top right corner.</li>
                  <li>While on your <b>“My Profile”</b> page click on <b>“My Ads”</b> located to the left of the page,
                    under <b>“My Profile Settings”</b><br><br></li>
                  <li>Once on the page you will see a list of all the Video Ads you have created. To delete your Video
                    Ad click on <b>“Trash Can Image“</b> to delete the Ad. <br><br></li>
                  <li>Once you click the <b>"Trash Can Image"</b> icon, a pop-up box will appear with question "Are you
                    sure? ", if so, click ok and your Ad is gone. </li>
                </ul>
                <br>
                <b>Trash Can Image: </b> <br>
                <img src="/assets/images/newwebsitephots/deleteicon.png" alt="">
                <br><br>
                </p>

                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub25">
                  <p style="color:#0a9b0a;"><b>WHERE ARE MY ITEMS?</b></p>
                </span>
                <p>You can find your posted items at any time by clicking on the <b>“My Profile”</b> link to get to
                  <b>“My Ads”</b>. </p><br>
                <p>You can also locate your items from the search view, be sure you're looking in the right area (i.e
                  city or zip codes) and using appropriate keywords (i.e. the words in your description or title). </p>

                <br>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub26">
                  <p style="color:#0a9b0a;"><b>HOW DO I ACCEPT AN OFFER?</b></p>
                </span>
                <p>On each ad there is a “Make an Offer” button. Once a buyer presses the button an email box will pop
                  up with the email address of the seller so that the buyer can send the seller an offer to buy their
                  item or services.
                  <br><br> Once a buyer offers you a price that you're willing to accept, start the process of arranging
                  a meet up via your email communications. There is no formal way to "accept", just let them know you're
                  interested in their offer. Find out when you're both free to check out the item and then make the
                  exchange!
                  <br><br> If you change your mind and decide not to sell the item (or, to sell to someone else), you
                  are allowed do so. We recommend emailing the buyer back and inform the buyer of your decision or any
                  changes in your plans to sell.


                  <br><br>
                </p>





                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub27">
                  <p style="color:#0a9b0a;"><b>HOW DO I PICK A MEETING LOCATION?</b></p>
                </span>
                <p>Connechub is a unique local peer-to-peer video marketplace that allows users to post video ads
                  instead of photos to buy, trade, advertise services and or sell their stuff.

                  <br><br>
                  Connechub offers a platform for local buyers and sellers - we strongly suggest not shipping items and
                  meeting in person to inspect the item unless you are meeting at a well-lit, well-trafficked public
                  location like a <b>cafe, shopping mall or police station</b>.
                <ul>
                  <li> If you are purchasing a large item, bring a friend to help lift</li>
                  <li>When leaving for your location, inform the other person that you're on your way and provide them
                    with an estimated time of arrival </li>
                  <li>If you're running late, let the other person know so they can plan accordingly</li>
                  <li>Inspect the item, verify it's in the condition you expected</li>
                  <li>Ask any remaining questions you have about the condition of the item</li>
                  <li>We also recommend having an independent expert inspect the item if necessary</li>
                </ul>

                <br>
                <b>Note!</b> All sales are final once a payment is made. Before paying, make sure everything is in
                working order.
                <br><br>
                </p>





                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub28">
                  <p style="color:#0a9b0a;"><b>HOW DO I MARK AN ITEM AS SOLD?</b></p>
                </span>
                <p>Marking your Video Ad as Sold is easy and simple.
                  <br><br>
                  Here is how:
                <ul>
                  <li>You must first click on<b> “Log in” </b> to your account</li>
                  <li>Once you are signed in click on <b> “My Profile”</b> in the top right corner. </li>
                  <li>While on your <b>“My Profile”</b> page click on <b>“My Ads”</b> located to the left of the page,
                    under <b>“My Profile Settings”</b> <br><br></li>
                  <li>Once on the page you will see a list of all the Video Ads you have created. To <b>"Make as
                      Sold"</b> your Video Ad click on <b>“Pencil Image“</b> to edit the Ad. <br><br></li>
                  <li>Once you click the <b>"Pencil Image"</b>, you will be sent to another page where you will be able
                    to <b>"Make as Sold"</b>to that ad.</li>

                </ul>
                <br>
                <b>Pencil Image: </b> <br>
                <img src="/assets/images/newwebsitephots/editicon.png" alt="">
                <br><br>
                </p>





                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub29">
                  <p style="color:#0a9b0a;"><b>WHAT ARE THE SIZE LIMITS FOR POSTING A VIDEO?</b></p>
                </span>
                <p>All videos posted to Connechub are limited in size to only <b>100mbs</b>. Connechub does have plans
                  to increase its users ability to post bigger video files , but as it stands Connechub will limit the
                  amount each user's uploads.

                  <br><br>
                </p>


              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  Safety
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <!-- jumpto data start  Safety  -->
                <ul>
                  <li><a href="#Connechub30">HOW DO I PICK A MEETING LOCATION?</a></li>
                  <li><a href="#Connechub31">BEST PRACTICES FOR BUYEING ITEMS</a></li>
                  <li><a href="#Connechub32">BEST PRACTICES FOR SELLING ITEMS </a></li>
                </ul>
                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub30">
                  <p style="color:#0a9b0a;"><b>HOW DO I PICK A MEETING LOCATION?</b></p>
                </span>
                <p>Connechub is a unique local peer-to-peer video marketplace that allows users to post video ads
                  instead of photos to buy, trade, advertise services and or sell their stuff.

                  <br><br>
                  Connechub offers a platform for local buyers and sellers - we strongly suggest not shipping items and
                  meeting in person to inspect the item unless you are meeting at a well-lit, well-trafficked public
                  location like a <b>cafe, shopping mall or police station</b>.
                <ul>
                  <li>If you are purchasing a large item, bring a friend to help lift</li>
                  <li>When leaving for your location, inform the other person that you're on your way and provide them
                    with an estimated time of arrival </li>
                  <li>If you're running late, let the other person know so they can plan accordingly</li>
                  <li>Inspect the item, verify it's in the condition you expected</li>
                  <li>Ask any remaining questions you have about the condition of the item</li>
                  <li>We also recommend having an independent expert inspect the item if necessary</li>
                </ul>

                <br>
                <b>Note!</b> All sales are final once a payment is made. Before paying, make sure everything is in
                working order.
                <br>
                </p>


                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub31">
                  <p style="color:#0a9b0a;"><b>BEST PRACTICES FOR BUYING ITEMS</b></p>
                </span>
                <p>
                <ul>
                  <li><b>Research the profile of the sellers</b><br>Look at the user’s profile and review future or past
                    items sold. Look at the comments that others have left on each ad. You can also look at the number
                    of individuals who love the ad. If you don’t feel comfortable do not buy or entertain the thought.
                  </li><br>
                  <li><b>Review the Video Ad closely</b><br>Does the video display the actual item for sale and does the
                    description of the item match the video? This lets you see the condition of the item. If the video
                    and description are unclear, ask questions through the comment system on the page. If the item isn’t
                    allowed under our Posting Rules, report the item so we can investigate. </li><br>
                  <li><b>Communicating outside of Connechub</b><br>Communicating outside of Connechub makes it more
                    difficult for us to protect your information and puts you at greater risk of fraud and other
                    security issues. We strongly encourage you to communicate using our comment system, however if you
                    need to give your personal we recommend you click on “Make an Offer” to send an email to the seller
                    as well as share personal contact information.</li><br>
                  <li><b>Selecting a Location to Meet</b><br>Connechub is a video marketplace for local buyers, sellers,
                    traders and advertisers - when buying an item, we recommend meeting in person. Whenever possible,
                    meet at a public location such as a café, a shopping mall and or your local police station. Take
                    extra caution when meeting for a high-value item, and consider meeting at your local police station.
                    We understand that people occasionally meet at a residence to purchase larger items. If this is
                    necessary, we strongly recommend having a friend or family member with you. If you are purchasing a
                    large item, bring a friend to help lift or load the item into your vehicle.<br>
                    <b>Remember,</b> Connechub is a local marketplace, and you shouldn’t ship your item or accept online
                    payments without letting the buyer inspect the item in person. Having the buyer both inspect your
                    item and take possession in person helps protect you from fraud.
                  </li><br>
                  <li><b>Be considerate</b><br> Sometimes transactions don't work out. It can be disappointing if items
                    turns out to not be what you were looking for or if an item sells before you had a chance to
                    purchase it. It's still important to remain polite and courteous - chances are you'll soon find the
                    great deal you're looking for.</li><br>
                  <li><b style="color:#eb0505;">Remember:</b><br>If you ever find yourself in an emergency or feel that
                    your personal safety is threatened, always contact local police and emergency services first @ 911.
                  </li><br>
                </ul>

                </p>





                <hr color="DodgerBlue" size="10">
                <!--  start -->
                <span id="Connechub32">
                  <p style="color:#0a9b0a;"><b>BEST PRACTICES FOR SELLING ITEMS</b></p>
                </span>
                <p>
                <ul>
                  <li><b>Create a detailed and accurate post.</b><br>To become a successful seller on Connechub you must
                    first start with creating a successful post. Make sure your video is clear and the description of
                    you post is very detailed. Make sure you state the condition of an item, and clearly outline all
                    defects or damage.</li><br>
                  <li><b>Look at the profiles of potential buyers.</b><br>When a buyer contacts you look if they are
                    selling anything, check out their items and see if others have commented their ad. If you are unsure
                    about something you can always ask questions or choose not to sell to the buyer. </li><br>
                  <li><b>Communicating outside of Connechub</b><br>Communicating outside of Connechub makes it more
                    difficult for us to protect your information and puts you at greater risk of fraud and other
                    security issues. We strongly encourage you to communicate using our comment system, however if you
                    need to give your personal information it is up to you to give your personal contact information
                    over email.</li><br>
                  <li><b>Selecting a Location to Meet</b><br>Connechub is a video marketplace for local buyers, sellers,
                    traders and advertisers - when buying an item, we recommend meeting in person. Whenever possible,
                    meet at a public location such as a café, a shopping mall and or your local police station. Take
                    extra caution when meeting for a high-value item, and consider meeting at your local police station.
                    If you’re selling a large item, be prepared to help or remind the buyer to bring a friend to help
                    lift or load the item into their vehicle.<br>
                    <b>Remember,</b> Connechub is a local marketplace, and you shouldn’t ship your item or accept online
                    payments without letting the buyer inspect the item in person. Having the buyer both inspect your
                    item and take possession in person helps protect you from fraud.
                  </li><br>
                  <li><b>Be considerate</b><br> Sometimes transactions don't work out and you’re still looking for the
                    right price or buyer, all ways remember being a considerate seller matters.</li><br>
                  <li><b style="color:#eb0505;">Remember:</b><br>If you ever find yourself in an emergency or feel that
                    your personal safety is threatened, always contact local police and emergency services first @ 911.
                  </li><br>
                </ul>

                <br>
                </p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  Legal
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <li><a href="terms.html">Terms of Service</a></li>
                  <li><a href="privacy.html">Privacy Policy</a></li>
                  <li><a href="postterm.html">Posting TOU</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- accordion End -->
        <!-- accordion End -->
      </div>
    </div>
  </div>
</div>
<!-- FAQ Section End -->