<div class"container">

    <style>
mark {
    background-color: red;
    color: white;
}
</style>
<div class="container">
<h2 class="text-muted">FAQ's</h2>
<hr>
<h4 style="color:#0073e6;"><b>Welcome to Connechub</b></h4>
<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel">What is Connechub?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p> Connechub is a unique peer-to-peer social marketplace that allows users to post video ads to buy, trade, advertise services and or sell their stuff.</p>

            <p> With Connechub, you can literally post an item for sell in seconds, browse what’s for sell in your area, communicate with the seller via email and as a peer to peer platform you can also leave a comment on the ad.</p>

            <p>It’s easy to get started. Just: click on <a href="https://www.connechub.com/users/sign_up"><b>www.connechub.com/users/sign_up</b></a></p>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel0">Is Connechub free to use?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel0">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel0" class="panel-collapse panel-collapse collapse">
         <div class="panel-body text-muted" style="font-family:Arial, Helvetica, sans-serif;font-size:14px; color:#b3b3b3;">
            <p><font color="limegreen"><b>Yes and No!</b> </font>Connechub is 100% free and doesn’t charge sellers a fee for listing their items in <b> most categories</b>.</p>

            <p><b> However,</b>  listed below are a few categories/subcategories that do cost to post per ad.</p>
                <ul>
                <li>Job postings <b>— <font color="limegreen">$35</b></font></li>
                <li>Housing postings <b>— <font color="limegreen">$10</b></font></li>
                <li>Sales (Automotive, Tickets) <b>— <font color="limegreen">$10</b></font></li>
                <li>Services <b>— <font color="limegreen">$5</b></font></li>
                </ul>
                <p><font color="limegreen"><b>Visa, MasterCard, and American Express are accepted.</b></font></p>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel01">How do I search for an Video ad?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel01">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel01" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
                <p>With search made easy the user has two options to find stuff.</p>

                <p><b>The first option to search is by keyword/s.</b>

                <ul>
                <li>To find an item by keyword/s simple type in your keyword in the first box labeled <font color="limegreen"><b>“keyword/s”</b></font>.</li>
                <li>Select a category that would like to search in</li>
                <li>Then click <font color="limegreen"><b>"Search"</b></font></li>
                </ul>
                </p>
                <!-- <p><b>The second option is to search by location</b>
                <ul>
                <li>To find an item based on your location simply enter a city, zip code or state in the box labeled <font color="limegreen"><b>“city, state or zip”</b></font>.</li>
                <li>Select a category that would like to search in</li>
                <li>Then click <font color="limegreen"><b>"Search" </b></font></li>
                <li><font color="red"><b>Note!</b></font> to narrow your search you can enter a keyword/s into the <font color="limegreen"><b>“keyword/s”</b></font>. box</li>
                </ul>
                </p>-->

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel02">How do I create an account?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel02">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel02" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>To create an account, visit <a href="https://www.connechub.com/users/sign_up"><b>www.connechub.com/users/sign_up</b></a> and click on <font color="limegreen"><b>"Sign Up"</b> </font>in the upper right-hand corner.</b> </li>
                 <ul>
                <li>You will first have to enter a<font color="limegreen"> <b>"Username"</b> </font></li>
                <li>You will be asked for a valid <font color="limegreen"><b>"Email Address"</b></font>(be sure to spell your email correctly)</li>
                <li>Create a <font color="limegreen"><b>"Password"</b></font> </li>
                <li>Re-enter your<font color="limegreen"> <b>"Password"</b></font> </li>
                <li>Click <font color="limegreen"><b>"Sign Up"</b> </font>once you're finished, Welcome to Connec you're all set to go! </li>
                </ul>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel03">How soon does my Video Ad expire?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel03">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel03" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Most Video Ads created has a post life of 30 days, however there are certain Video Ads that you must pay for which gives you a longer posting time. </p>

                <p><b> Below is a chart of the Video Ad Posting Schedule.</b> </p>
                            <p>
                <table style="width:80%">
                  <tr>
                    <th>Posting Type</th>
                    <th>Expiration Dates </th>

                  </tr>
                  <tr>
                    <td><font color="limegreen"><b>Free:</b></font> All Other categories</td>
                    <td>30 days</td>
                  </tr>

                  <tr>
                    <td><font color="limegreen"><b>Paid:</b></font> Job postings</td>
                    <td>45 days</td>

                  </tr>
                   <tr>
                    <td><font color="limegreen"><b>Paid:</b></font> Housing postings</td>
                    <td>45 days</td>

                  </tr>
                   <tr>
                    <td><font color="limegreen"><b>Paid:</b></font> Sales (Sub-category Only - Automotive, Tickets)</td>
                    <td>45 days</td>

                  </tr>
                   <tr>
                    <td><font color="limegreen"><b>Paid:</b></font> Services </td>
                    <td>45 days</td>

                  </tr>
                </table></p>
                        </div>
                    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel04">How often can I post a Video Ad?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel04">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel04" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>With Connechub there are no limits to when, where or how many times you post an item, just as long as that Video Ad is posted in the right category.</p>

            <p>Remember most items posted have a post life of only <font color="limegreen"><b>30 days</b></font>. So this gives you the freedom to post when and where you want.  </p>
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel05">What is permitted or not on Connechub?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel05">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel05" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
           <p>Although Connechub allows most items to be sold on its platform, there are certain items that aren’t allowed. Some present a legal, health and safety risk. Therefore, we’ve chosen not to allow items that we feel are offensive and inappropriate for our platform.  </p>


                <p>For items that may be subject to regulatory restrictions, it's a good idea to make sure your item is legal to sell before posting on Connechub.</p>


                <p>:<b>Prohibited Items list below:</b></p>
                <ul>
                <li>Weapons of any kind</li>
                <li>Products that infringe copyright or trademark laws</li>
                <li>Perishable items (for example: food)</li>
                <li>Advertising</li>
                <li>Vidoes and describitions containing a reference to another website, app or merchandise</li>
                <li>Defective or poor quality items</li>
                <li>Items in violation of good manners, law or legal restrictions</li>
                <li>Products that are published as “free” but with no intention of giving them away for free</li>
                <li>Items that do not have a realistic price</li>
                <li>Used cosmetics</li>
                <li>Gift Cards</li>
                </ul>

                <p>Illegal items listed here could voilate the law, statute or regulation to local, state, provincial, national, or international law. Therefore will not be allow under any cicurstances: </p>

                <ul>
                <li>Weapons of any kind (such as firearms, firearm parts and magazines, ammunition, BB and pellet guns, tear gas, stun guns, switchblade knives, and martial arts weapons)</li>
                <li>Alcoholic beverages</li>
                <li>Blood, body fluids or body parts</li>
                <li>Burglary tools</li>
                <li>Counterfeit currency, coins and stamps</li>
                <li>Counterfeit products</li>
                <li>Electronic surveillance equipment</li>
                <li>Seized goods</li>
                <li>Government and transit uniforms, IDs and licenses</li>
                <li>Illegal drugs and drug paraphernalia, vitamins or protein supplements</li>
                <li>All types of illegal services and products</li>
                <li>Hazardous materials</li>
                <li>Fireworks, destructive devices and explosives</li>
                <li>Identity documents, personal financial records and personal information (in any form, including mailing lists)</li>
                <li>Products that encourage or facilitate illegal activities</li>
                <li>Lottery tickets and slot machines</li>
                <li>Obscene material and all types such as (beastility)</li>
                <li>All types of offensive material</li>
                <li>Pesticides</li>
                <li>Badges and uniforms pertaining to police and other security forces</li>
                <li>Prescription drugs and medical devices</li>
                <li>Recalled items</li>
                <li>Stocks and other securities</li>
                <li>Stolen property</li>
                <li>Tobacco products</li>
                <li>snuff film, or snuff movie, (a movie in a purported genre of movies in which a person is actually murdered or commits suicide)</li>
                <li>Hate  or Offensive Materials</li>
                </ul>
        </div>
    </div>
</div>

<br>

<h4 style="color:#0073e6;"><b>Account and Settings</b></h4>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel141">How do I login to my account?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel141">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel141" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <h4><b>Logging in</b></h4>
                <p>To login to Connechub, click on <font color="limegreen"><b>"Login"</b> </font>at the top of the page from anywhere in the site.  </p>
                <p>Enter your email address and password then click on the green <font color="limegreen"><b>“Log in”</b></font> button. Once you log in you will be redirected to the home page.</p>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel1">Can I change my username?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel1">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel1" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>
            <mark><b>NO!</b></mark> Your username is the one item that can’t be edited nor changed. So, when you sign up remember to choose a name that you can live with. Also remember that in some cases your username could have an adverse effect on whether your item will sale or not.
            </p>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel11">How do I change my bio?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel11">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel11" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>To change or update your bio is simple and easy.</p>
                <ul>
                <li>You must first click on<font color="limegreen"> <b>“Login”</b></font> to sign in </li>
                <li>Enter your email address and password and click the <font color="limegreen"><b> “Log in” </b></font> button</li>
                <li> Once you are signed in click on<font color="limegreen"><b> “My Account” </b></font> in the top right corner, a drop-down will appear</li>
                <li>From the drop-down list choose <font color="limegreen"><b> “Edit Your Account” </b> </font> to edit your account.  </li>
                <li> Once on the page you will now have the ability to make changes to <font color="limegreen"><b> “My Bio” </b> </font></li>
                <li>After you have made your changes you will now have to enter in your<font color="limegreen"> <b> “Current Password” </b> </font></li>
                <li> After entering your <font color="limegreen"><b> “Current Password” </b></font> click on the <font color="limegreen"> <b>“Update”</b> </font>button to save the changes you have just made.</li>
                </ul>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel12">How do I change my profile photo?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel12">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel12" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Like any other social network site, you can post whatever profile picture to personalize your account. To update your profile picture requires you to sign in, here is how you can do so, it’s easy:</p>
                <ul>
                <li>You must first click on <font color="limegreen"><b>“Login”</b> </font>to sign in</li>
                <li>Enter your email address and password and click the <font color="limegreen"><b>“Log in”</b></font> button</li>
                <li>Once you are signed in click on <font color="limegreen"><b>“My Account”</b> </font>in the top right corner, a drop-down will appear</li>
                <li>From the drop-down list choose <font color="limegreen"><b>“Edit Your Account”</b> </font>to edit your account.</li>
                <li>Once on the page you will now have the ability to change your profile picture by clicking on <font color="limegreen"><b>“Choose File”</b></font> next to <font color="limegreen"><b>“My Profile image”</b></font> </li>
                <li>After clicking on <font color="limegreen"><b>“Choose File”</b> </font>a page from within your computer will pop up, which will display folders in your computer. </li>
                <li>Choose the folder that has the profile picture that you would like to use, in some cases it will be in your <font color="limegreen"><b>“Picture”</b></font> folder or in the <font color="limegreen"><b>“Desktop”</b> </font>folder, or whereever you saved the picture.</li>
                <li>After you have found your picture you can double click on the picture or click <font color="limegreen"><b>“Open”</b></font> to choose the picture. </li>
                <li>To confirm you have the picture, you will see the name of the picture to the right of the <font color="limegreen"><b>“Choose File”</b></font> button </li>
                <li>After have made your changes you will now have to enter in your <font color="limegreen"><b>“Current Password”</b></font></li>
                <li>After entering your <font color="limegreen"><b>“Current Password”</b> </font>click on the <font color="limegreen"><b>“Update”</b> </font>button to save the changes you have just made.</li>
                </ul>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel13">How do I change my password?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel13">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel13" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Periodically changing your password is a good security practice. </p>

            <p>To change it from within your account:</p>

                <ul>
                <li>You must first click on <font color="limegreen"><b>“Login”</b></font> to sign in </li>
                <li>Enter your email address and password and click the <font color="limegreen"><b>“Log in”</b> </font>button </li>
                <li>Once you are signed in click on <font color="limegreen"><b>“My Account”</b></font> in the top right corner, a drop-down will appear </li>
                <li>From the drop-down list choose <font color="limegreen"><b>“Edit Your Account”</b> </font>to edit your account. </li>
                <li>Once on the page you will now have the ability to make changes to your password in the <font color="limegreen"><b>“Password Change”</b></font> box </li>
                <li>To change your password enter a new password that is at least 6 characters long. Then enter your new password again in the next box labeled <font color="limegreen"><b>“Password confirmation” </b></font></li>
                <li>After you have made your changes you will now have to enter in your <font color="limegreen"><b>“Current Password”</b></font> </li>
                <li>After entering your <font color="limegreen"><b>“Current Password”</b> </font>click on the <font color="limegreen"><b>“Update”</b></font> button to save the changes you have just made.
                </li>
                </ul>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel14">How do I logout of my account?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel14">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel14" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
        <h4><b>Logging out</b></h4>
        <p>To logout to Connechub, click on <font color="limegreen"><b>"Logout"</b></font> at the top of the page from anywhere in the site.  This button will only appear if you have not logged into the site. </p>
        <p>Once you click <font color="limegreen"><b>“Logout"</b></font> you will be redirected to the home page.</p>


        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel15">How do I deactivate my account?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel15">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel15" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Connechub is for everyone to use and we would hate to lose you as a valued member of our community. We hope you’ll reconsider and stay with us.</p>

            <p> However, before leaving please let us know if there is something we can do to make Connechub experience better. </p>

            </p> If you feel the need to deactivate your account we understand. To do so simply email the deactivation team @ <a href="mailto:deactivate@connechub.com"><b>deactivate@connechub.com</b></a></p>

        </div>
    </div>
</div>


<br>

<h4 style="color:#0073e6;"><b>Selling on Connechub</b></h4>
<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel2">How do I post a Video Ad?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel2">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel2" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Posting items is easy and simple. Follow these steps to create a post in 1 minute or less: </p>
                <ul>
                <li>You must first click on <font color="limegreen"><b>“Login”</b></font> to sign in </li>
                <li>Enter your email address and password and click the <font color="limegreen"><b>“Log in”</b> </font>button </li>
                <li>Once you are signed in click on <font color="limegreen"><b>“POST AN AD”</b></font> in the top right corner.</li>
                </ul>
                <p>Once on the page you will now have the ability to create an ad. Complete each field if you miss a field the system will not allow you to continue on. </p>
                 <ul>
                <li>The first field <font color="limegreen"><b>“$” </b></font> is where you can post the price of your item “0.00”.  However, if you’re not sure what an item is worth or just want to sell something and don’t need a specific amount of money, you can simply type in <font color="limegreen"> <b>  “willing to negotiate” </b></font> This lets buyers make an offer of any price. You’re free to accept, negotiate, or say no to any offer. </li>
                <li>The second field <font color="limegreen"><b>“Category” </b></font> / <font color="limegreen"><b>“Sub-category” </b></font> is where you will choose the best category/subcategory to place your ad.  We recommend you choose wisely for this is where your ad will be placed until you sell your item or until you edit your ad. </li>
                <li>The third field <font color="limegreen"><b>“Ad Title” </b></font> is where you will post the title of your ad. This is important because users can search by keywords, so it is important to create a title that will make it easy for users to find your item.  </li>
                <li>The fourth field <font color="limegreen"><b>“My City” </b></font> is where you will post the city you and your ad is located in. This is important because users can search by city, so it is important to get this right so that it will make it easy for users to find your item.  </li>
                 <li>The fourth field <font color="limegreen"><b>“My State” </b></font> is where you will post the state you and your ad is located in. This is important because users can search by state, so it is important to get this right so that it will make it easy for users to find your item.  </li>
                <li>The fourth field <font color="limegreen"><b>“My Zipcode” </b></font> is where you will post the zipcode you and your ad is located in. This is important because users can search by zipcode, so it is important to get this right so that it will make it easy for users to find your item.  </li>
                <li>The fifth field <font color="limegreen"><b>“My Video Ad” </b></font> is where you will upload your video ad by clicking on <font color="limegreen"><b>“Choose File” </b></font>  once you have chosen your video file, the name of the file will show to the right of the chosen button.</li>
                <li>The sixth field <font color="limegreen"><b>“Description” </b></font> is where you will describe your item or services. To have a better chance at selling your item or services we recommend you be very clear about what is it you are selling and what services you offer. </li>
                <li>Finally, once you have completed all fields click on  <font color="limegreen"><b>“Post Your Ad” </b></font> button. This will then send you directly to the ad you created. <b>YOUR ARE DONE!</b> </li>
                </ul>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel21">What are the size limits for posting a video?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel21">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel21" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>All videos posted to Connechub are limited in size to only <b>100mbs</b>. Connechub does have plans to increase its users ability to post bigger video files , but as it stands Connechub will limit the amount each user's uploads. </p>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel22">Can I post pictures instead of a video?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel22">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel22" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
         <p><mark><b>NO!</b></mark> Connechub is a unique local peer-to-peer social marketplace that allows users to <b>Post Video Ads</b> instead of photos to buy, trade, adevertise services and or sell their stuff.</p>

        </div>
    </div>
</div>

<!--<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel23">How do I report a user or an item?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel23">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel23" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>test2</p>
        </div>
    </div>
</div>-->

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel24">How do I set a price?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel24">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel24" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p> Set a reasonable price so buyers have an idea of what to offer. This will help you sell the item faster and prevent a flood of low offers. For suggestions on pricing your item, you can try searching for similar items in your area to see what other sellers are asking for. </p>

            <p>However, if you’re not sure what an item is worth or just want to sell something and don’t need a specific amount of money, you can simply type in <font color="limegreen"> <b>  “willing to negotiate” </b></font> in the <font color="limegreen"> <b>  “$” </b></font> field. This lets buyers make an offer of any price. You’re free to accept, negotiate, or say no to any offer. </p>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel25">How do I edit my Video Ad?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel25">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel25" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Editing your Video Ad is easy and simple. Follow these steps below to edit your Video Ad in 1 minute or less: </p>
                <ul>
                <li>You must first click on <font color="limegreen"><b>“Login”</b></font> to sign in </li>
                <li>Enter your email address and password and click the <font color="limegreen"><b>“Log in”</b> </font>button </li>
                <li>Once you are signed in click on <font color="limegreen"><b>“My Account”</b></font> in the top right corner.</li>
                 <li>From the drop-down list choose <font color="limegreen"><b>“My Profile”</b> </font></li>
                </ul>
                <p>Once on the page you will see a list of all the Video Ads you have created and at the bottom of each ad you will see <font color="limegreen"><b>"Edit"</b> </font> or <font color="limegreen"><b>"Delete"</b> </font>. To edit your Video Ad click on <font color="limegreen"> <b>  “Edit” </b></font>.</p>

                <p>Remember each field is prepopulated with current Video Ad information.</p>
                 <ul>

                <li><font color="limegreen"><b>“$” </b></font> this is the dollar amount or <font color="limegreen"> <b>  “willing to negotiate” </b></font> that you set for your Video Ad. </li>
                <li><font color="limegreen"><b>“Category” </b></font> / <font color="limegreen"><b>“Sub-category” </b></font> is the location your Video Ad is currently located. </li>
                <li><font color="limegreen"><b>“Ad Title” </b></font> is the current title of your Video ad.</li>
                <li><font color="limegreen"><b>“My City” </b></font> is the current city of your Video Ad.</li>
                 <li><font color="limegreen"><b>“My State” </b></font> is the current state of your Video Ad./li>
                <li><font color="limegreen"><b>“My Zipcode” </b></font> is the current zipcode of your Video Ad.</li>
                <li><font color="limegreen"><b>“My Video Ad” </b></font> is the current Video file. </li>
                <li><font color="limegreen"><b>“Description” </b></font> is the current description of your Video Ad.</li>
                <li>Finally, once you have edited all fields click on  <font color="limegreen"><b>“Update Your Ad” </b></font> button. This will then send you directly to the Video Ad you created, which means - <b>YOUR ARE DONE!</b> </li>
                </ul>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel215">How do I delete my Video Ad?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel215">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel215" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Editing your Video Ad is easy and simple. Follow these steps below to edit your Video Ad in 1 minute or less: </p>
                <ul>
                <li>You must first click on <font color="limegreen"><b>“Login”</b></font> to sign in </li>
                <li>Enter your email address and password and click the <font color="limegreen"><b>“Log in”</b> </font>button </li>
                <li>Once you are signed in click on <font color="limegreen"><b>“My Account”</b></font> in the top right corner.</li>
                 <li>From the drop-down list choose <font color="limegreen"><b>“My Profile”</b> </font></li>
                </ul>
                <p>Once on the page you will see a list of all the Video Ads you have created and at the bottom of each ad you will see <font color="limegreen"><b>"Edit"</b> </font> or <font color="limegreen"><b>"Delete"</b> </font>. To delete your Video Ad click on <font color="limegreen"> <b>  “Delete” </b></font>.</p>

                <p>Once you click <font color="limegreen"><b>"Delete"</b> </font> a pop-up box will appear with question <b>"Are you sure? "</b>, if so click ok and your Ad is gone. you then be directed by the home page.</p>
                 <ul>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel26">Where are my items?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel26">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel26" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p> You can find your posted items at any time by view your profile page after signing in. </p>

            <p> To locate your items from the search view, be sure you're looking in the right area and using appropriate keywords (i.e. the words in your description or title). </p>

            <p> Items are sorted by a number of factors including: distance and time posted. Although your items may not be visible when you click a category, they will be in the category you posted them under and when relevant keywords are searched. </p>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel28">How do I accept an offer?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel28">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel28" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>On each ad there is a <font color="limegreen"> <b>  “Make an Offer”</b></font> button. Once a buyer presses the button an email box will pop up with the email address of the seller so that the buyer can send the seller an offer to buy their item or services. Once a buyer offers you a price that you're willing to accept, start the process of arranging a meet up via your email communications. There is no formal way to "accept", just let them know you're interested in their offer. Find out when you're both free to check out the item and then make the exchange!</p>

            <p>If you change your mind and decide not sell the item (or, to sell to someone else), you are allowed do so. We recommend emailing the buyer back and inform the buyer of your decision or any changes in your plans to sell. </p>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel29">How do I pick a meeting location?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel29">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel29" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p> Connechub is a unique local peer-to-peer social marketplace that allows users to post video ads instead of photos to buy, trade, advertise services and or sell their stuff. </p>
            <p>Connechub offers a platform for local buyers and sellers - we strongly suggest not shipping items and meeting in person to inspect the item unless you are meeting at a well-lit, well-trafficked public location like a <font color="red"> <b>cafe, shopping mall or police station.</b></font></p>

            <ul>
            <li> If you are purchasing a large item, bring a friend to help lift</li>
            <li> When leaving for your location, inform the other person that you're on your way and provide them with an estimated time of arrival</li>
            <li> If you're running late, let the other person know so they can plan accordingly</li>
            <li> Inspect the item, verify it's in the condition you expected</li>
            <li> Ask any remaining questions you have about the condition of the item</li>
            <li> We also recommend having an independent expert inspect the item if necessary</li>
            </ul>
            <p><mark><b>Note!</b></mark> All sales are final once a payment is made. Before paying, make sure everything is in working order.</p>

        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="small-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel200">How do I mark an item as sold?</a>
            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel200">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </h4>
    </div>
    <div id="filterPanel200" class="panel-collapse panel-collapse collapse">
        <div class="panel-body text-muted" style="font-family: Geneva, Tahoma, Verdana, sans-serif; font-size:14px; color:#b3b3b3;">
            <p>Once an item is sold on Connechub, it is the responsibility of the seller to delete the item from their account. Also, each ad created has a shelf life of <font color="red"><b>30 to 45 days</b> </font>once that ad has reached its life span the ad will be canceled but not deleted from Connechub. At that point, the user will have to repost their ad if it has not sold. </p>
            <p><mark><b>Note!</b></mark> If a user is reported as attempting to sell an item that has already been sold and has not deleted this item, that users runs the risk of having their account deleted and banned from Connechub.  </p>


        </div>
    </div>
</div>

<br>


























<br/>





</div>

<style>
.panel-collapse-clickable {
     cursor: pointer;
}
</style>
<script type="text/javascript">
    jQuery(function ($) {
           $(".panel-collapse").on("hide.bs.collapse", function () {
        $(".panel-collapse-clickable").find('i').removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });

    $(".panel-collapse").on("show.bs.collapse", function () {
        $(".panel-collapse-clickable").find('i').removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
    });
    });
</script>
