<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/images/coffeecup.jpg);"></div>

<!-- How it Works Section Start -->
<section class="works section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading">
          <h1 class="section-title">How It Works?</h1>
          <h4 class="sub-title">Connechub is free, simple, and easy to use</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="works-item" style="text-align:left;">
          <div class="works-item">
            <div class="icon-box">
              <i class="lni-users"></i>
            </div>
            <p><b>Create an Account</b></p> <br>
          </div>
          <p> Connechub is simple, easy to use, and free to sign up.</p>               
          <p> First, you need to create your own account <a href="https://connechub.com/users/sign_up">here</a>, which will allow you to post video ads.
          </p> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="works-item" style="text-align:left;">
          <div class="works-item">
          <div class="icon-box">
            <i class="lni-video"></i>
          </div>
          <p><b>Post a Video Ad</b></p><br>
        </div>             
        <p> Once you have finished creating your account it is time to post a video ad to advertise your goods and/or services. It's simple, whip out your phone, record a video, click on “Post A Video Ad", select a category, and create new  a listing.
        </p> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="works-item" style="text-align:left;">
        <div class="works-item">
          <div class="icon-box">
            <i class="lni-thumbs-up"></i>
          </div>
          <p><b>Done Deal</b></p><br>
        </div>              
        <p> You will now get an email confirmation that the listing has completed, you can now sit back, relax and wait for the potential buyers to contact you regarding the goods and/or services you are offering. It’s as easy as that!
        </p> 
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it Works Section End -->