
    <!-- Page Content -->
   <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <%=image_tag "marketingCloud.jpg", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>
            <h2 class="featurette-heading">Welcome to Connechub
                <span class="text-muted">Marketing Team</span>
            </h2>
            <p class="lead">Marketing and Communications at Connechub starts with identifying what our customers truly need—and then finding unique ways to communicate how our products and services can help make their lives better. </p>
          <p class="lead"> Join Connechub and you could craft a thoughtful social media strategy, develop our next ad campaign or create content for our website. </p>
         
         <hr class="featurette-divider">
        <small class = "small-heading">Opportunities</small>
        <p style="color:#ff3333">At this time Connechub is not hiring. Please check back from time to time for any open positions being offered. </p>
        </div>

        <hr class="featurette-divider">

        
        <!-- Footer -->
   
    </div>
</div>
<div style="height: 15px; width: 100%;"></div>