
    <!-- Page Content -->
   <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <%=image_tag "MobileTechWordle.png", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>
            <h2 class="featurette-heading">Welcome to Connechub
                <span class="text-muted">Mobile Technology Team</span>
            </h2>
            <p class="lead">At Connechub, we want to lead the digital transformation by designing and delivering experiences for our customers that are simple and secure in a mobile evironment. As part of our Mobile team, you will have the opportunity to impact millions of people in a deeper, more engaged way by working on our mobile apps and design. </p>
            <p class="lead">You'll work on projects and programs that deliver outstanding value to our vast customer base — innovations you can be proud to put your name on. Join us in strategy, design, product and you will not only have the opportunity to make a meaningful impact on everyday life, but help shape the future of Connechub.</p>
         <hr class="featurette-divider">
        <small class = "small-heading">Opportunities</small>
        <p style="color:#ff3333">At this time Connechub is not hiring. Please check back from time to time for any open positions being offered. </p>
        </div>

        <hr class="featurette-divider">

        
        <!-- Footer -->
   
    </div>
</div>
<div style="height: 15px; width: 100%;"></div>