<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/img/coffeecup.jpg);"></div>

<!-- Newsletter section Start --> 
<section id="pricing-table" class="section-padding">
    <div class="container">
    <div class="row">
        <div class="col-12 text-center">
        <div class="heading">
            <h1 class="section-title">Connechub Newsletter</h1>
            <small>Last Updated: July 26, 2020</small>
        </div>
        </div>

        <div style="text-align:left;">
            <p>Connechub feels that it takes a community of one to provide an experience that is safe and easy to use. As a company, we will listen to the needs of our users and will continue to make changes to improve the environment.</p>

            <p>Things that were added to enhance the Connechub experience</p>
            <br>
            <p>Pre 1.1.10</p>
            <ol class="menu"> 
                <li>- Email should not be allowed as username</li>
                <li>- New subcategories recently added in the services category are missing.</li>
                <li>- Research automatic quality switching for video playback.</li>
                <li>- Unable to edit my profile when I chose forget password. Enter my email I get an error ""</li>
                <li>- Condition of the item for sale.</li>
                <li>- Word wrap Listing title when long titles are used.</li>
                <li>- The system is not retaining my subcategory when i go to edit</li>
                <li>- "Sold" Button</li>
                <li>- Added favicon</li>
                <li>- Improved search results</li>
            </ol>
            <br>
            <p>Coming soon (1.1.10)</p>
            <ul class="menu">
                <li>- New homepage slogan</li>
                <li>- Website redesign</li>
                <li>- New Subcategories added to the Sale Category</li>
                <li>- Improved Facebook imagery</li>
            </ul>
            <br>
            <p>1.1.11 "Volatile Vervet"</p>
            <ul class="menu">
                <li>- About US redesign / verbiage / photo changes</li>
            </ul>
            <br>
            <p>1.1.12 "Flying Frog"</p>
            <ul class="menu"> 
                <li>- Improved Security</li>
            </ul>
            <br>
            <p>1.1.13 "Eerie Eagle"</p>
            <ul class="menu">
                <li>- ADDED Andriod and iOS progressive web app abilitiies including `Add to Homescreen`.</li>
                <li>- Enabled text compression to improve performance.</li>
                <li>- REMOVED un-used Javascript.</li>
                <li>- IMPROVED video transcoding quality.</li>
            </ul>
            <br>
            <p>1.1.14 "Fuzzy Frog"</p>
            <ul class="menu">
                <li>- IMPROVED password complexity requirements.</li>
                <li>- ADDED Google reCaptcha during registration.</li>
                <li>- ADDED ability to use rich text formatting, including URL links, in item description.</li>
                <li>- REMOVED hamburger menu from mobile view.</li>
                <li>- FIXED incorrect icons on main menu.</li>
            </ul>
    
        </div>



    </div>
    </div>
</section>
<!-- Newsletter Section End -->