<!-- Page Styles -->
<style>
div.price {
font-family: Verdana, Geneva, sans-serif;
font-size: 48px;
color: black;
text-align: center;
}

div.price1 {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: black;
padding-top: 10px;
text-align: center;
width: 100%;
}

table.center {
margin-left: auto;
margin-right: auto;
}


table.a {
border-radius: 25px;
font-family: arial, sans-serif;
width: 180px;
Height: 250px;
}

table.b {
border-radius: 25px;
font-family: arial, sans-serif;
width: 180px;
Height: 250px;
}

table.c {
border-radius: 25px;
font-family: arial, sans-serif;
width: 180px;
Height: 250px;
}

table.d {
border-radius: 25px;
font-family: arial, sans-serif;
width: 180px;
Height: 250px;
}

table.e {
border-radius: 25px;
font-family: arial, sans-serif;
width: 180px;
Height: 250px;
}

td {
padding: 8px;
width: 180px;
Height: 250px;
}

div.a {
font-size: 16px;
color: white;
text-align: center;
padding-bottom: 20px;
}

div.ab {
font-size: 72px;
color: white;
text-align: center;
}

span.small {
font-size: 20px;
vertical-align: text-top;
color: white;
text-align: center;
}

td {
vertical-align: text-top;
}

div.smalltext {
font-size: 12px;
color: white;
text-align: center;

}

table.font1 {
font-family: Verdana, Geneva, sans-serif;
width: 180px;


}

div.font1 {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: Tomato;

}

div.font2 {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: Orange;
}


div.font3 {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: DodgerBlue;
}

div.font4 {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: SlateBlue;
}

div.font5 {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: MediumSeaGreen;
}

p {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: black;
}

ul.demo {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
color: gray;
list-style-type: none;
margin: 0;
padding: 0;
}

.button {
border-radius: 5px;
border: 1px;
color: white;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
outline: none;
}

.bottompage {
font-family: Verdana, Geneva, sans-serif;
font-size: 20px;
color: DodgerBlue;
margin-left: 40px;
margin-right: 40px;

}
</style>

<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/coffeecup.jpg);"></div>

<!-- Pricing section Start --> 
<section id="pricing-table" class="section-padding">
    <div class="container">
    <div class="col-12 text-center">
        <div class="heading">
        <h1 class="section-title">Pricing Guide</h1>
        <h4 class="sub-title">Connechub is free to signup and free to use as long as you want. However, there are a few categories that cost to post an ad.</h4>
        </div>
    </div>      
    <table class="center">
    
    
        <td>
        <table class="a" style="background-color:Tomato;">
            <th>
            <div class="a">Free Listings</div>
            <div class="ab"><span class="small">$</span>0</div><br>
            <div class="smalltext">Per Listings</div>
            </th>
        </table>
        <br>
        <table class="font1">
            <tr><b>
                <div class="font1">Free Categories</div>
            </b>
            <hr color="Tomato">
            <p style="text-align:left;">These categories do not carry a charge and is free to post in any of their Subcategories: 
                <ul class="demo" style="text-align:left;">
                <li>Electronics</li>
                <li>Pets</li>
                <li>Weddings and Parties</li>
                <li>Beuuty and Health</li>
                <li>Books, Music, Toys</li>
                <li>Clothing and Accessories</li>
                <li>Home and Garden</li>
                <li>Sports and Outdoors</li>
                </ul>
            </p>
            </tr>
        </table>
        </td>
    
    
        <td>
        <table class="b" style="background-color:Orange;">
            <th>
            <div class="a">Services</div>
            <div class="ab"><span class="small">$</span>5</div><br>
            <div class="smalltext">Per Listings</div>
            </th>
        </table>
        <br>
        <table class="font1">
            <tr><b>
                <div class="font2">Services Category</div>
            </b>
            <hr color="Orange">
            <p style="text-align:left;">Each subcategory here carries a $5.00 fee per listing:
            </p>
            <ul class="demo" style="text-align:left;">
                <li>Accountant</li>
                <li>Architecture</li>
                <li>Artists</li>
                <li>Barber</li>
                <li>Beauty Salons</li>
                <li>Building Remodelling</li>
                <li>Business Planner</li>
                <li>Taxi Cab/UBER</li>
                <li>Car Rental</li>
                <li>Chef</li>
                <li>Cleaning Services / Maids</li>
                <li>Home Decor</li>
                <li>Fitness Instructor</li>
                <li>Elderly Care</li>
                <li>IT / Programmer</li>
                <li>Grant Writer</li>
                <li>Health Spa</li>
                <li>Lawn Care</li>
                <li>Legal Services</li>
                <li>Limousine</li>
                <li>Repair / Handyman</li>
                <li>Marketing Firm</li>
                <li>nonprofit</li>
                <li>Home Security</li>
                <li>Structural Engineering</li>
                <li>Home Remodelling</li>
                <li>Auto Repair</li>
                <li>Tutoring/Education</li>
                <li>Website Designer</li>
                <li>Plumber</li>
                <li>Appliance Repair</li>
                <li>Dog Walker</li>
                <li>Pressure Washing</li>
                <li>Computer Repair</li>
                <li>Auto Insurance</li>
                <li>Small Construction</li>
                <li>Life Insurance</li>
                <li>Mortgage Refinance</li>
                <li>Photographers</li>
                <li>Financial Planner</li>
                <li>Music Dj &amp; Bands</li>
                <li>Moving Company</li>
                <li>Dentist</li>
                <li>Doctors</li>
                <li>Party Bus</li>
                <li>Pawn Shops</li>
                <li>Gun Shops</li>
                <li>Laundromat</li>
                <li>Massage Therapists</li>
                <li>Garbage Collection</li>
                <li>Churches</li>
                <li>Pet Grooming</li>
                <li>Restaurants</li>
                <li>Pest Control Services</li>
                <li>Dumpster Rental</li>
                <li>Reception Halls</li>
                <li>Roofing Contractors</li>
                <li>Tow Truck Service</li>
                <li>Cash Services</li>
            </ul>
            </tr>
        </table>
        </td>
    
    
        <td>
        <table class="c" style="background-color:DodgerBlue;">
            <th>
            <div class="a">Automotive</div>
            <div class="ab"><span class="small">$</span>5</div><br>
            <div class="smalltext">Per Listings</div>
            </th>
        </table>
        <br>
        <table class="font1">
            <tr><b>
                <div class="font3">Auto Category</div>
            </b>
            <hr color="DodgerBlue">
            <p style="text-align:left;">There are only two subcategories that carry a $5.00 fee per listing: 
                <ul class="demo" style="text-align:left;">
                <li>Automotive</li>
                <li>Tickets</li>
                </ul>
            </p>
            </tr>
        </table>
        </td>
    
    
        <td>
        <table class="d" style="background-color:SlateBlue;">
            <th>
            <div class="a">Real Estate</div>
            <div class="ab"><span class="small">$</span>10</div><br>
            <div class="smalltext">Per Listings</div>
            </th>
        </table>
        <br>
        <table class="font1">
            <tr><b>
                <div class="font4">Estate Category</div>
            </b>
            <hr color="SlateBlue">
            <p style="text-align:left;">Each subcategory here carries a $10.00 fee per listing:
            </p>
            <ul class="demo" style="text-align:left;">
                <li>Apartments</li>
                <li>Commercial</li>
                <li>Homes</li>
                <li>Rentals</li>
                <li>Vacation</li>
                <li>Condos</li>
                <li>Farms</li>
                <li>Lands</li>
                <li>Ranches</li>
                <li>Manufactured Homes</li>
                <li>Townhomes</li>
            </ul>
            </tr>
        </table>
        </td>
    
    
    
        <td>
        <table class="e" style="background-color:MediumSeaGreen;">
            <th>
            <div class="a">Jobs</div>
            <div class="ab"><span class="small">$</span>35</div><br>
            <div class="smalltext">Per Listings</div>
            </th>
        </table>
        <br>
        <table class="font1">
            <tr><b>
                <div class="font5">Jobs Category</div>
            </b>
            <hr color="MediumSeaGreen">
            <p style="text-align:left;">Each subcategory here carries a $35.00 fee per listing:
            </p>
            <ul class="demo" style="text-align:left;">
                <li>Accounting</li>
                <li>Admin/Clerical</li>
                <li>Automotive</li>
                <li>Banking</li>
                <li>Biotech</li>
                <li>Business Development</li>
                <li>Business Opportunity</li>
                <li>Construction</li>
                <li>Consultant</li>
                <li>Customer Service</li>
                <li>Design</li>
                <li>Distribution/Shipping</li>
                <li>Education</li>
                <li>Engineering</li>
                <li>Entry Level</li>
                <li>executive</li>
                <li>Facilities</li>
                <li>Finance</li>
                <li>Franchise</li>
                <li>General Business</li>
                <li>General Labor</li>
                <li>Government/Federal</li>
                <li>Grocery Stores</li>
                <li>Health Care</li>
                <li>Hospitality/Hotel</li>
                <li>Human Resources</li>
                <li>Journalism/Newspaper</li>
                <li>Information Technology</li>
                <li>Installation</li>
                <li>Insurance</li>
                <li>Inventory</li>
                <li>Legal</li>
                <li>Legal Admin</li>
                <li>Maintenance/Repair</li>
                <li>Management</li>
                <li>Manufacturing</li>
                <li>Marketing</li>
                <li>Media</li>
                <li>Nonprofit</li>
                <li>Nurse</li>
                <li>Other</li>
                <li>Pharmaceutical</li>
                <li>Procurement</li>
                <li>Professional Services</li>
                <li>Purchasing</li>
                <li>QA/Quality Control</li>
                <li>Real Estate</li>
                <li>Research</li>
                <li>Restaurant</li>
                <li>Retail</li>
                <li>Sales</li>
                <li>Science</li>
                <li>Skilled Labor - Trades</li>
                <li>Social Services</li>
                <li>Strategy/Planning</li>
                <li>Supply Chain</li>
                <li>Telecommunications</li>
                <li>Training</li>
                <li>Transportation</li>
                <li>Veterinary Services</li>
                <li>Warehouse</li>
            </ul>
            </tr>
        </table>
        </td>
    
    </table>

    </div>
</section>
<!-- Pricing Table Section End -->
