<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/coffeecup.jpg);"></div>

<style>


.icon-left{
    float:left;
    padding: 12px 25px 60px 15px;
    color:#4ECABE;
}
.text{
    text-align:left;
    padding:0 0 0 15px;
}
.text h4{
    padding-bottom:5px;
}
    
    
</style>
<br>
<div class="container">
    <div class="row">
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-muted" style="color:#0073e6;">Best practices for buying items </h2>  
        <hr>
 
            <div class="text">
               <h3 class="text-muted" style="color:#0073e6;">Research the profile of the sellers</h3>
               <p>Look at the user’s profile and review future or past items sold. Look at the comments that others have left on each ad. You can also look at the number of individuals who love the ad. If you don’t feel comfortable do not buy or entertain the thought. </p> 
            </div> <br>

            <div class="text">
            <h3 class="text-muted" style="color:#0073e6;">Review the Video Ad closely</h3>
             <p>Does the video display the actual item for sale and does the description of the item match the video? This lets you see the condition of the item. If the video and description are unclear, ask questions through the comment system on the page. If the item isn’t allowed under our Posting Rules, report the item so we can investigate. </p>
            </div> <br>
           
            <div class="text">
            <h3 class="text-muted" style="color:#0073e6;">Communicating outside of Connechub</h3> 
              <p>Communicating outside of Connechub makes it more difficult for us to protect your information and puts you at greater risk of fraud and other security issues. We strongly encourage you to communicate using our comment system, however if you need to give your personal we recommend you click on “Make an Offer” to send an email to the seller as well as share personal contact information. </p> 
            </div><br>
          
            <div class="text">
            <h3 class="text-muted" style="color:#0073e6;">Selecting a Location to Meet</h3> 
               <p>Connechub is a marketplace for local buyers, sellers, traders and advertisers - when buying an item, we recommend meeting in person. Whenever possible, meet at a public location such as a café, a shopping mall and or your local police station. Take extra caution when meeting for a high-value item, and consider meeting at your local police station. We understand that people occasionally meet at a residence to purchase larger items. If this is necessary, we strongly recommend having a friend or family member with you. If you are purchasing a large item, bring a friend to help lift or load the item into your vehicle. </p> 
            </div> <br>
            
            <div class="text">
            <h3 class="text-muted" style="color:#0073e6;">Be considerate</h3>
               <p>Sometimes transactions don't work out. It can be disappointing if items turns out to not be what you were looking for or if an item sells before you had a chance to purchase it. It's still important to remain polite and courteous - chances are you'll soon find the great deal you're looking for. </p> 
            </div><br>
            
            <div class="text">
            <h3 class="text-muted" style="color:#0073e6;">Remember:</h3>
             <p>If you ever find yourself in an emergency or feel that your personal safety is threatened, always contact local police and emergency services first @ 911. </p>
             </div>

        </div>
        
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-muted" style="color:#2eb82e;">Best practices for selling items </h2>  
        <hr>
            <div class="text">
            <h3 class="text-muted" style="color:#2eb82e;">Create a detailed and accurate post. </h3>
             <p>To become a successful seller on Connechub you must first start with creating a successful post. Make sure your video is clear and the description of you post is very detailed.  Make sure you state the condition of an item, and clearly outline all defects or damage. </p>
             </div><br>
            
            <div class="text">
            <h3 class="text-muted" style="color:#2eb82e;">Look at the profiles of potential buyers. </h3> 
                <p>When a buyer contacts you look at their profile and their profile photo. If they are selling anything check out their items and see if others have commented their ad. If you are unsure about something you can always ask questions, or choose not to sell to the buyer. </p> 
            </div><br>

            <div class="text">
           <h3 class="text-muted" style="color:#2eb82e;">Communicating outside of Connechub</h3>
           <p>Communicating outside of Connechub makes it more difficult for us to protect your information and puts you at greater risk of fraud and other security issues. We strongly encourage you to communicate using our comment system, however if you need to give your personal information it is up to you to give your personal contact information over email. </p>
            </div><br>
            
            <div class="text">
            <h3 class="text-muted" style="color:#2eb82e;">Selecting a Location to Meet</h3> 
               <p>Connechub is a marketplace for local buyers, sellers, traders and advertisers - when buying an item, we recommend meeting in person. Whenever possible, meet at a public location such as a café, a shopping mall and or your local police station. Take extra caution when meeting for a high-value item, and consider meeting at your local police station. If you’re selling a large item, be prepared to help or remind the buyer to bring a friend to help lift or load the item into their vehicle. </p>

                <p> <b>Remember,</b> Connechub is a local marketplace, and you shouldn’t ship your item or accept online payments without letting the buyer inspect the item in person. Having the buyer both inspect your item and take possession in person helps protect you from fraud.
                </p>
             </div><br>
            
            <div class="text">
            <h3 class="text-muted" style="color:#2eb82e;">Be considerate</h3>  
             <p>Sometimes transactions don't work out and you’re still looking for the right price or buyer, all ways remember being a considerate seller matters.
            </p></div><br>
            
           <div class="text">
            <h3 class="text-muted" style="color:#0073e6;">Remember:</h3>
             <p>If you ever find yourself in an emergency or feel that your personal safety is threatened, always contact local police and emergency services first @ 911. </p>
             </div>
            
            
            
        </div>
    </div>
</div>