
    <!-- Page Content -->
   <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <%=image_tag "2451.png", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>
            <h2 class="featurette-heading">Welcome to Connechub
                <span class="text-muted">Sales Team</span>
            </h2>
            <p class="lead">Our Sales team consistently answer the needs of our customers and business partners. We are looking for those who want to build a long lasting opportunity , have unparalleled expertise with the ability to multitask. </p>
         <hr class="featurette-divider">
        <small class = "small-heading">Opportunities</small>
        <p style="color:#ff3333">At this time Connechub is not hiring. Please check back from time to time for any open positions being offered. </p>
        </div>

        <hr class="featurette-divider">
    
        
        <!-- Footer -->
   
    </div>
</div>
<div style="height: 15px; width: 100%;"></div>