
    <!-- Page Content -->
   <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <%=image_tag "technology_word.cloud.jpg", class: 'featurette-image img-circle img-responsive pull-right', style: 'width: 450px; height: 440px' %>
            <h2 class="featurette-heading">Welcome to Connechub
                <span class="text-muted">Technology Team</span>
            </h2>
            <p class="lead">Members of our technology team have the opportunity each day to work in a fast-pace environment that values innovation and collaboration. </p>
          <p class="lead">As a dedicated IT team, members design, build and develop technology solutions to serve our customers, while managing the firm’s technology assets. </p>
          
          <hr class="featurette-divider">
        <small class = "small-heading">Opportunities</small>
       <p style="color:#ff3333">At this time Connechub is not hiring. Please check back from time to time for any open positions being offered. </p>
        
        </div>
  <hr class="featurette-divider">

        <!-- Footer -->
   
    </div>
</div>
<div style="height: 15px; width: 100%;"></div>