<div style="height: 15px; width: 100%;"></div>

<div class="container">
 <div class="aboutborder ">
    <div class="abouttxt">
   <h1 align="center">TERMS OF CONDITIONS</h1>
     <p>  
    <br /> 
    Terms of Conditions (version 1)<br /> 
     <small>Last Updated: February 27, 2017</small>
<br />  <br /> 
    <h3>WELCOME TO CONNECHUB</h3>
      	We hope you find it useful. By accessing our servers, websites, or content therefrom (together,“Connechub”, "The HUB", “we” and “us”), you agree to these Terms of Conditions ("TOC").<br /><br />
      	<b>PLEASE READ THESE TERMS OF CONDITIONS CAREFULLY. THESE TERMS INCLUDE A MANDATORY ARBITRATION PROVISION AND CLASS ACTION WAIVER PROVISION, WHICH AFFECT YOUR RIGHTS ABOUT HOW TO RESOLVE ANY DISPUTE WITH THE HUB, BY ACCESSING OR USING OUR WEBSITE, APPLICATIONS OR OTHER PRODUCTS OR SERVICES (TOGETHER, “THE HUB"), YOU AGREE TO BE BOUND BY ALL TERMS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE (“TERMS”). IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE THE HUB.<br /><br /> 
      	YOU ACKNOWLEDGE AND AGREE THAT THERE ARE RISKS ASSOCIATED WITH UTILIZING AN INTERNET-BASED MARKETPLACE AND INTERACTING WITH OTHER USERS IN PERSON AS OUTLINED IN ASSUMPTION OF RISK.</b>
<br /><br />
    <h4>ELIGIBILITY</h4> 
     	<b>THE HUB WILL ALLOW USERS WHO ARE THIRTEEN (13) YEARS OF AGE OR OLDER MAY REGISTER WITH THE SERVICE. THE HUB DOES NOT, NOR INTEND TO IN ANYWAY TARGET IT'S SERVICES  TO ANYONE UNDER THE AGE OF THIRTEEN (13) YEARS OF AGE. IF YOU ARE BETWEEN THIRTEEN (13) AND EIGHTEEN (18) YEARS OF AGE, YOU MAY USE THE HUB ONLY UNDER THE SUPERVISION OF A PARENT OR LEGAL GUARDIAN WHO AGREES TO BE BOUND BY THESE TERMS AND ANY APPLICABLE ADDITIONAL TERMS.</b>  <br /> <br /> 
     	If you are 18 or older, we grant you a limited, revocable, nonexclusive, non-assignable, non-sublicensable license to access THE HUB in compliance with the TOC; unlicensed access is unauthorized. You further represent and warrant that you: <b>(a)</b> have not previously been suspended or removed from using THE HUB; <b>(b)</b> are legally permitted to, and do, live in the United States or one of its territories, and <b>(c)</b> may enter into this agreement without violating any other agreement to which you are a party. If you are registering to use  THE HUB on behalf of a legal entity, you further represent and warrant that <b>(i)</b> such legal entity is duly organized and validly existing under the applicable laws of the jurisdiction of its organization, and <b>(ii)</b> you are duly authorized by such legal entity to act on its behalf. <br />     <br /> 
     	You agree not to license, distribute, make derivative works, display, sell, or "frame" content from The HUB, excluding content you create and sharing with friends/family. You grant us a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable license to use, copy, perform, display, distribute, and make derivative works from content you post.
 <br /> <br /> 
    <h4> USE, REGISTRATION & SECURITY</h4>  
	     In order to access certain parts of THE HUB, you may be required to create an THE HUB account (an “Account”). In connection with creating an Account, you must provide certain information (“Registration Data”) and answer all questions or fields marked “required.” You agree to: <b>(a)</b> provide true, accurate, current and complete Registration Data; <b>(b)</b> maintain and update such Registration Data to keep it true, accurate, current and complete; <b>(c)</b> maintain the security of your Account, including by maintaining the security and confidentiality of your login credentials; and <b>(d)</b> consent to allow THE HUB to contact you for the purpose of confirming some or all of your Registration Data, to conduct research and to resolve disputes, as THE HUB may elect to do from time to time.
<br /><br />
      You agree not to use or provide software (except for general purpose web browsers and email clients, or software expressly licensed by us) or services that interact or interoperate with THE HUB, e.g. for downloading, uploading, posting, flagging, emailing, search, or mobile use. Robots, spiders, scripts, scrapers, crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You agree not to collect users' personal and/or contact information.<br /><br />
	     You agree not to license, distribute, make derivative works, display, sell, or "frame" content from THE HUB, excluding content you create and sharing with friends/family. You grant us a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable license to use, copy, perform, display, distribute, and make derivative works from content you post.	
<br /><br />
    <h4>DISCONTINUANCE OF SERVICERS</h4> 
     	THE HUB may, in its sole discretion and without liability to you, modify, discontinue, terminate, suspend or shut-down (temporarily or permanently) all or any portion of THE HUB at any time, without prior notice. Upon any such action by Connechub, you must immediately stop using THE HUB. You may also cancel your Account at any time, as described in Suspension; Termination below. 
<br /> <br /> 
    <h4>WHAT IS ACCEPTABLE USE OF SERVICE</h4> 
      	When accessing or using THE HUB, you agree that you will not violate any law, contract, intellectual property or other third-party right or commit a tort. Without limiting the generality of the foregoing, you agree that you will not do, and will not permit any third party to do, any of the following:<br /> 
        	<br />
        	<ul class="abouttxt11">
        	<li>Engage in any unauthorized use of THE HUB (including, without limitation, political campaigning, advertising, or marketing);</li>
        	<li>Transmit or otherwise make available any content that: <b>(1)</b> you do not have the right to provide or transmit using THE HUB, <b>(2)</b> may expose THE HUB or its affiliates, licensors, or users to any harm or liability, or <b>(3)</b> is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, unlawful, untrue, or otherwise objectionable;</li>
        	<li>Upload to, transmit, distribute, store, create, or otherwise sell or offer for sale anything that violates our Prohibited Items Guidelines.</li>
        	<li>Transmit or otherwise make available any content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
        	<li>Originate, send, deliver, relay or otherwise transmit unsolicited commercial email or other messages through THE HUB;</li>
        	<li>Copy any portion of THE HUB or any underlying content or source code;</li>
        	<li>Reverse engineer, disassemble or decompile any portion of THE HUB or otherwise attempt to discover or re-create the source code to any software;</li>
        	<li>Distribute the software or source code behind THE HUB to any third party;</li>
        	<li>Make any modification, adaptation, improvement, enhancement, translation or derivative work of or to any portion of THE HUB;</li>
        	<li>Remove, alter, or obscure any copyright or other proprietary notices of THE HUB or its affiliates or licensors in any portion of THE HUB;</li>
        	<li>Obscure or disable any advertisements that appear on or through THE HUB;</li> 
        	<li>Use any type of automated means, including without limitation any harvesting bot, robot, spider, script, crawler, scraper or other automated means or interface not provided by THE HUB to utilize THE HUB or to collect or extract data;</li>
        	<li>Access without authorization any networks, systems, or databases used in providing THE HUB or any accounts associated with THE HUB, or to access or use any information therein for any purpose;</li>
        	<li>Attempt to probe, test, hack, or otherwise circumvent any security measures;</li>
        	<li>Violate any requirements, policies, procedures or regulations of any network connected to THE HUB</li>
        	<li>Use THE HUB in any manner that could damage, disable, overburden, or otherwise impair THE HUB (or any networks connected to THE HUB);</li>
        	<li>Interfere with or disrupt the use and enjoyment by others of THE HUB, including without limitation attempting, in any manner, to obtain the password, account, or other security information of any other user;</li> 
        	<li>Falsely state, impersonate, or otherwise misrepresent your identity;</li> 
        	<li>Provide false information during Account creation or otherwise provide false, inaccurate or misleading information;</li> 
        	<li>Create more than one Account or create an Account on behalf of anyone other than yourself without permission;</li>
        	<li>Use or attempt to use another user’s Account without authorization;</li>
        	<li>Use THE HUB in any manner to stalk, harass, invade the privacy of, or otherwise cause harm to, any person;</li>
        	<li>Use THE HUB in any manner that exposes THE HUB to any harm or liability of any nature;</li> 
        	<li>Use THE HUB to infringe or violate the intellectual property rights or any other rights of anyone else (including Connechub);</li> 
        	<li>Develop any third-party applications that interact with THE HUB without Connechub’s prior written consent;</li>
        	<li>Use THE HUB to engage in any illegal or unauthorized purpose or to engage in, encourage, or promote activities that are unlawful, misleading, malicious or discriminatory, including, but not limited to violations of these Terms, illegal gambling, fraud, money-laundering, or terrorist activities; </li>
        	<li>Transfer any rights granted to you under these Terms; or Encourage or induce any third party to engage in any of the activities prohibited under this Section.</li>
        	</ul>
      If you violate any of the foregoing, Connechub reserves the right to suspend or terminate your right to access and use THE HUB immediately without notice, and you will have infringed Connechub’s intellectual property and other rights, which may subject you to prosecution and damages. Connechub also reserves the right to take any remedies it deems appropriate under the circumstances if you have purchased or sold items that are in violation of this Section. Connechub reserves the right at all times to monitor, review, retain and disclose any information regarding your use of THE HUB as necessary to satisfy any applicable law, regulation, legal process or governmental request. You also acknowledge and agree that Connechub is not responsible or liable for the conduct of, or your interactions with, any users of THE HUB (whether online or offline). Your interactions with other users are solely between you and such users and we are not responsible or liable for any loss, damage, injury or harm which results from these interactions. In addition, enforcement of these Terms is solely in our discretion, and the absence of enforcement in some instances does not constitute a waiver of our right to enforce these Terms in other instances. These Terms do not create any private right of action on the part of any third party or any reasonable expectation or promise that THE HUB will not contain any content that is prohibited by these Terms.
<br /><br />
        <h4>USER GENERATED CONTENT</h4>
        In the course of using THE HUB, you may transmit or otherwise make available certain content, including information about yourself, content, messages, materials, data, information, text, photos, video, graphics, code or other items or materials (“User Generated Content”) through interactive areas or services, such as posting items for sale, making an offer, leaving comments, or other areas or services. User Generated Content may be publicly viewable in some instances. THE HUB reserves the right, but does not have the obligation, to remove, screen or edit any User Generated Content posted, transmitted, or stored on THE HUB at any time and for any reason without notice. You will not (and will not allow or authorize any third-party to) post, upload to, transmit, distribute, store, create, solicit, disclose, or otherwise, publish through THE HUB any of the following:
<br /> <br />
            <ul>
            <li>User Generated Content that is, in THE HUB ’s judgment, disrespectful or may expose THE HUB, Users or others to harm or liability;</li>
            <li>User Generated Content that may infringe the patent, trademark, trade secret, copyright, intellectual, privacy or proprietary right of any party;</li>
            <li>Private information of any third parties, including addresses, phone numbers and payment card information;</li>
            <li>Viruses, corrupted data or other harmful, disruptive, or destructive files; or</li>
            <li>User Generated Content that inhibits any other person from using or enjoying THE HUB.</li></ul>

           You are solely responsible for creating backup copies of and replacing your User Generated Content at your sole cost and expense. You acknowledge and agree that THE HUB is not
           responsible for any errors or omissions that you make in connection with THE HUB Service. By submitting or posting User Generated Content, you hereby grant to THE HUB a 
           non-exclusive, transferable, royalty-free, perpetual, irrevocable, sublicensable right to use, reproduce, modify, adapt, publish, translate, sell, create derivative 
           works from, distribute, perform, and display the User Generated Content, and your name, company name, location and any other information you submit with the 
           User Generated Content, in connection with THE HUB. The use of your or any other User’s name, likeness, or identity in connection with THE HUB does not imply 
           any endorsement thereof unless explicitly stated otherwise. We also have the right to disclose your identity to any third party who is claiming that any content 
           posted by you constitutes a violation of their intellectual property rights, or of their right to privacy.
<br /><br />
        <h4>MODERATION.</h4>
        You agree that THE HUB may moderate access to and use of THE HUB in our sole discretion through any means (including, for example, blocking, filtering, deletion, delay, omission, verification, and/or termination of your access/account/license. Furthermore, we have the right to remove any posting you make on THE HUB if, in our opinion, your post does not comply with the content standards set out in Sections above, and any other THE HUB rules, including without limitation the Posted Terms Of Use. You agree not to bypass or attempt to bypass such moderation. You further agree that THE HUB is not liable for moderating, not moderating or making any representations regarding moderating. All site rules, e.g. Connechub.com, are incorporated herein.
<br /><br />
        <h4>THIRD PARTY CONTENT</h4>
        In using THE HUB, you may view content, utilize services, or otherwise interact with content and services provided by third parties. THE HUB does not control, endorse or adopt any Third-Party Content and you acknowledge and agree that THE HUB will have no responsibility for any Third Party Content, including without limitation, material that may be misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable. In addition, your business or other dealings or correspondence with such third parties are solely between you and the third parties. THE HUB is not responsible or liable for any damage or loss of any sort caused, or alleged to be caused, by or in connection with any such dealings, including the delivery, quality, safety, legality or any other aspect of any good or services that you may purchase or sell to or from a third party.
<br /><br />
        <h4>SUGGESTIONS & FEEDBACK</h4>
        Any comments or materials sent to us, including, but not limited to, ideas, questions, comments, suggestions, feedback or the like regarding THE HUB or any other products or services of THE HUB (collectively, "Feedback"), is non-confidential and will become our sole property. We will have no obligation to you of any kind, monetary or non-monetary, with respect to such Feedback and will be free to reproduce, use, disclose, exhibit, display, transform, create derivative works from and distribute the Feedback to others without limitation or obligation. You waive any rights you may have to the Feedback (including any copyrights or moral rights). Further, you agree not to submit any feedback that is defamatory, illegal, offensive or otherwise violates any right of any third party, or breaches any agreement between you and any third party.
<br /><br />
        <h4>COPYRIGHT POLICY</h4>
        <b>A.</b> Repeat Infringer Policy. In accordance with the Digital Millennium Copyright Act (“DMCA”) and other applicable law, THE HUB has adopted a policy of terminating, in appropriate circumstances and at THE HUB’s discretion, users who are deemed to be repeat infringers. We also may, at THE HUB’s discretion, limit access to THE HUB and terminate access of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.
<br /><br />
        <b>B.</b> Copyright Complaints. If you believe that anything on THE HUB infringes upon any copyright that you own or control, you may file a notification by email with THE HUB’s Infringement Agent as set forth below:
<br /><br />
        <b>Email Address of Infringement Agent:</b>
        legal@connechub.com
 <br /><br />
        If you knowingly misrepresent in your notification that the material or activity is infringing, you may be liable for any damages, including costs and attorneys’ fees, incurred by THE HUB or the alleged infringer as the result of THE HUB’s reliance upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing.
        <br /><br />
        <h4>INTELLECTUAL PROPERTY RIGHTS</h4>
            Unless otherwise indicated, THE HUB and all content, materials, information, functionality and other materials displayed, performed, contained or available on or through THE HUB, including, without limitation, THE HUB logo, and all designs, text, graphics, pictures, information, data, sound files, images, illustrations, software, other files, and the selection and arrangement thereof (collectively, the “Materials”) are the proprietary property of THE HUB or its affiliates or licensors, and are protected by U.S. and international copyright laws and other intellectual property rights laws.
<br /><br />
            Except as otherwise provided, subject to your compliance with all of the terms and conditions of these Terms, and in consideration of your promises reflected herein (and with respect to any services requiring payment of fees, your payment of such fees), we grant to you a revocable, personal, non-exclusive, non-assignable and non-transferable license for personal, non-commercial purposes, except where explicitly provided otherwise, to <b>(i)</b> access and use THE HUB Service, <b>(ii)</b> cause the Materials to be displayed from a computer and/or mobile device and <b>(iii)</b> use the Materials, solely as permitted under these Terms (the “License”). THE HUB and its affiliates and licensors reserve all rights not expressly granted to you in these Terms. You agree that these Terms do not grant you any rights in or licenses to THE HUB or the Materials, except for this express, limited License. You will not otherwise copy, transmit, distribute, sell, resell, license, de-compile, reverse engineer, disassemble, modify, publish, participate in the transfer or sale of, create derivative works from, perform, display, incorporate into another website, or in any other way exploit any of the Materials or any other part of THE HUB or any derivative works thereof, in whole or in part for commercial or non-commercial purposes. Without limiting the foregoing, you agree not to frame or display THE HUB or Materials (or any portion thereof) as part of any other website or any other work of authorship without our prior written permission. The License granted under this Section will automatically terminate if we suspend or terminate your access to THE HUB.
<br /><br />
        <h4>TRADEMARKS</h4>
        Connechub.com and other Connechub graphics, logos, page headers, buttons, icons, scripts, and service names are trademarks, registered trademarks, or trade dress of THE HUB or its affiliates in the U.S. and/or other countries, and may not be copied, imitated, or used, in whole or in part, without THE HUB ’s prior written consent. You will not use any trademark, product or service name of THE HUB without our prior written permission, including without limitation any metatags or other “hidden text” utilizing any trademark, product of service name of THE HUB. All other registered trademarks and service marks are used for reference purposes only, and remain the property of their respective owners. Reference to any products, services, processes or other information, by name, trademark, manufacturer, supplier or otherwise does not constitute or imply an endorsement, sponsorship or recommendation by Connechub.
<br /><br />
            <h4>SUSPENSION & TERMINATION</h4>
            THE HUB may revoke or terminate your License to access or use THE HUB for any reason without notice at THE HUB ’s sole discretion. Without limiting the generality of the foregoing, we may revoke or terminate the License if you: <b>(i)</b> breach any obligation in these Terms or in any other agreement between you and us, <b>(ii)</b>  violate any policy or guideline applicable to THE HUB or Materials, or any other THE HUB product or service, or <b>(iii)</b>  use THE HUB or the Materials other than as specifically authorized in these Terms, without our prior written permission. You will stop accessing or using THE HUB immediately if THE HUB suspends or terminates your License to access or use THE HUB. THE HUB reserves the right, but does not undertake any duty, to take appropriate legal action including the pursuit of civil, criminal, or injunctive redress against you for continuing to use THE HUB during suspension or after termination. THE HUB may recover its reasonable attorneys’ fees and court costs from you for such action. These Terms will remain enforceable against you while your License to access or use THE HUB is suspended and after it is terminated.
<br /><br />
            <h4>DISCLAIMER</h4>
            MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT PARTIES, LIMITING THEIR ABILITY TO WAIVE CERTAIN RIGHTS AND RESPONSIBILITIES. WE RESPECT SUCH LAWS; NOTHING HEREIN SHALL WAIVE RIGHTS OR RESPONSIBILITIES THAT CANNOT BE WAIVED.
            <br /><br />
            <b>A.</b> TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW, AND EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY US, THE HUB, THE MATERIALS AND ANY ITEMS SOLD BY USERS THROUGH THE HUB ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE HUB, INCLUDING THE INFORMATION, CONTENT AND MATERIALS CONTAINED THEREIN, AND ANY ITEMS SOLD THROUGH THE HUB.
            <br /><br />
            <b>B.</b> WITHOUT LIMITING THE FOREGOING, NEITHER THE HUB NOR ANY OF ITS AFFILIATES OR LICENSORS, NOR THE RESPECTIVE OFFICERS, DIRECTORS, LICENSORS, EMPLOYEES OR REPRESENTATIVES OF SUCH PARTIES (COLLECTIVELY, THE "THE HUB PROVIDERS") REPRESENT OR WARRANT <b>(I)</b> THAT THE HUB, MATERIALS OR ITEMS SOLD THROUGH THE HUB WILL MEET YOUR REQUIREMENTS OR BE ACCURATE, COMPLETE, APPROPRIATE, RELIABLE OR ERROR FREE; <b>(II)</b> THAT THE HUB, MATERIALS OR ITEMS SOLD THROUGH THE HUB WILL ALWAYS BE AVAILABLE OR WILL BE UNINTERRUPTED, ACCESSIBLE, TIMELY, RESPONSIVE OR SECURE; <b>(III)</b> THAT ANY DEFECTS WILL BE CORRECTED, OR THAT THE HUB, MATERIALS OR ITEMS SOLD THROUGH THE HUB WILL BE FREE FROM VIRUSES, "WORMS," "TROJAN HORSES" OR OTHER HARMFUL PROPERTIES; <b>(IV)</b> THE ACCURACY, RELIABILITY, TIMELINESS OR COMPLETENESS OF ANY MATERIALS AVAILABLE ON OR THROUGH THE HUB; <b>(V)</b> ANY IMPLIED WARRANTY ARISING FROM COURSE OF DEALING OR USAGE OF TRADE; <b>(VI)</b> THAT THE HUB SERVICE, MATERIALS OR ITEMS SOLD THROUGH THE HUB ARE NON-INFRINGING; OR <b>(VII)</b> THAT ANY BADGE IS A REPRESENTATION AS TO THE IDENTITY, CHARACTER OR INTEGRITY OF ANY PERSON, BUSINESS, OR ENTITY THAT IS ASSOCIATED WITH A BADGE.
            <br /><br />
            <b>C.</b> YOU ACKNOWLEDGE THAT INFORMATION YOU STORE OR TRANSFER THROUGH THE HUB MAY BECOME IRRETRIEVABLY LOST OR CORRUPTED OR TEMPORARILY UNAVAILABLE DUE TO A VARIETY OF CAUSES, INCLUDING SOFTWARE FAILURES, PROTOCOL CHANGES BY THIRD PARTY PROVIDERS, INTERNET OUTAGES, DISASTERS, SCHEDULED OR UNSCHEDULED MAINTENANCE, OR OTHER CAUSES OUTSIDE OF OUR REASONABLE CONTROL. YOU ARE SOLELY RESPONSIBLE FOR BACKING UP AND MAINTAINING DUPLICATE COPIES OF ANY INFORMATION YOU STORE OR TRANSFER THROUGH THE HUB.
            <br /><br />
            Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.
<br /> <br /> 
            <h4>RISK FACTORS</h4>
            YOU ACKNOWLEDGE AND AGREE THAT THERE ARE RISKS ASSOCIATED WITH UTILIZING AN INTERNET-BASED MARKETPLACE AND INTERACTING WITH OTHER USERS IN PERSON. WE DO NOT INVESTIGATE OR VERIFY ANY USER’S REPUTATION, CONDUCT, MORALITY, CRIMINAL BACKGROUND, OR ANY INFORMATION USERS MAY SUBMIT TO THE SERVICES. YOU ARE SOLELY RESPONSIBLE FOR TAKING ALL NECESSARY PRECAUTIONS WHEN INTERACTING WITH OTHER USERS, PARTICULARLY WHEN MEETING A STRANGER IN PERSON FOR THE FIRST TIME. IT IS POSSIBLE THAT OTHER USERS MAY ATTEMPT TO PHYSICALLY HARM OR DEFRAUD YOU OR OBTAIN INFORMATION FROM YOU FOR FRAUDULENT PURPOSES. YOU ARE SOLELY RESPONSIBLE FOR, AND ASSUME ALL RISKS RELATED TO, SELLING AND BUYING THROUGH THE HUB (INCLUDING ALL ONLINE AND OFFLINE INTERACTIONS WITH OTHER USERS).
<br /> <br /> 
            
        <h4>LIMITATION OF LIABILITIES</h4>
        <b>A.</b> TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE HUB OR THE HUB PROVIDERS BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO, LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH: <b>(I)</b> USE OF THE HUB OR MATERIALS, INCLUDING, BUT NOT LIMITED TO, ANY DAMAGE CAUSED BY ANY RELIANCE ON, OR ANY DELAYS, INACCURACIES, ERRORS OR OMISSIONS IN, ANY OF THE HUB OR MATERIALS, <b>(II)</b> ANY INABILITY TO USE THE HUB OR MATERIALS FOR WHATEVER REASON, OR <b>(III)</b> ANY GOODS OR SERVICES DISCUSSED, PURCHASED OR OBTAINED, DIRECTLY OR INDIRECTLY, THROUGH THE HUB SERVICE, EVEN IF THE HUB OR THE HUB PROVIDERS ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM (Y) RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM COMPANY, OR (Z) THAT RESULT FROM EVENTS BEYOND THE HUB’S OR THE HUB PROVIDERS' REASONABLE CONTROL, SUCH AS SITE INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM A FORCE MAJEURE EVENT, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO THE HUB'S RECORDS, PROGRAMS OR SERVICES.
        
        <b>B.</b> TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE HUB OR THE HUB PROVIDERS (JOINTLY), ARISING OUT OF OR RELATING TO THE USE OF, OR INABILITY TO USE THE OFFER UP SERVICE OR OTHERWISE RELATING TO THESE TERMS EXCEED THE GREATER OF <b>(I)</b> ANY COMPENSATION YOU PAY, IF ANY, TO THE HUB FOR ACCESS TO OR USE OF THE HUB OR MATERIALS DURING THE 12 MONTHS PRECEDING THE EVENT GIVING RISE TO THE LIABILITY; OR <b>(II)</b> $100 U.S. DOLLARS.
        
        <b>C.</b> THE LIMITATIONS SET FORTH IN THIS SECTION WILL NOT LIMIT OR EXCLUDE LIABILITY FOR THE HUB OR THE HUB PROVIDERS' GROSS NEGLIGENCE, INTENTIONAL, WILLFUL, MALICIOUS OR RECKLESS MISCONDUCT OR FRAUD.                
<br /> <br /> 
        <h4>INDEMNITY</h4>
        You agree to hold harmless, defend and indemnify THE HUB and THE HUB Providers from all liabilities, losses, damages, deficiencies, claims, causes of action, demands and expenses, (including, but not limited to, reasonable attorneys' fees), that are due to, arise from or otherwise relate to your conduct or your use or misuse of THE HUB or Materials, including, without limitation, any actual or threatened suit, demand or claim made against THE HUB or any THE HUB Provider that arises out of or relates to: <b>(i)</b> any intellectual property rights or other proprietary rights of any third party, <b>(ii)</b> your breach of these Terms including without limitation your breach of any of your representations and warranties; <b>(iii)</b> your use of any of THE HUB or Materials; or <b>(iv)</b> any content that you store on or transmit through THE HUB Service. THE HUB may assume exclusive control of any defense of any matter subject to indemnification by you, and you agree to cooperate with THE HUB in such event.     
<br /> <br /> 
<h4>ARBITRATION</h4>
PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO SUBMIT TO BINDING ARBITRATION (INCLUDING A JURY TRIAL WAIVER) ANY AND ALL DISPUTES (OTHER THAN SPECIFIED INTELLECTUAL PROPERTY CLAIMS AND SMALL CLAIMS) WITH THE HUB AND IT LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM THE HUB (NO CLASS ARBITRATIONS, CLASS ACTIONS OR REPRESENTATIVE ACTIONS OR ARBITRATIONS).

<br /><br />

<b>A. Binding Arbitration.</b> Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, “Disputes”) arising out of or related to a violation of "WHAT IS ACCEPTABLE USE OF SERVICE" or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and THE HUB agree <b>(1)</b> to waive your and THE HUB’s respective rights to have any and all Disputes arising from or related to these Terms, the THE HUB  or the Materials, resolved in a court, and <b>(2)</b> to waive your and THE HUB’s  respective rights to a jury trial. Instead, you and THE HUB agree to arbitrate Disputes through binding arbitration (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).

<br /><br />

<b>B. No Class Arbitrations, Class Actions or Representative Actions. </b> You and THE HUB agree that any Dispute arising out of or related to these Terms, THE HUB  or the Materials is personal to you and THE HUB and that such Dispute will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding. You and THE HUB agree that there will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, you and THE HUB agree that a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.

<br /><br />

<b>C. Federal Arbitration Act.</b> You and THE HUB agree that these Terms affect interstate commerce and that the enforceability of this Section shall be both substantively and procedurally governed by and construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (the “FAA”), to the maximum extent permitted by applicable law.

<br /><br />

<b>D. Notice; Informal Dispute Resolution.</b> You and THE HUB agree that each party will notify the other party in writing of any arbitrable or small claims Dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the Dispute informally. Notice to THE HUB shall be sent by certified mail or courier to Connechub, Inc. 8807 citrus village dr 107 tampa,fl 33626. Your notice must include <b>(1)</b> your name, postal address, telephone number, the email address you use or used for your Account, and, if different, an email address at which you can be contacted, <b>(2)</b> a description in reasonable detail of the nature or basis of the Dispute, and <b>(3)</b> the specific relief that you are seeking. Our notice to you will be sent to the email address you used to register for your Account, and will include (a) our name, postal address, telephone number and an email address at which we can be contacted with respect to the Dispute, (b) a description in reasonable detail of the nature or basis of the Dispute, and (c) the specific relief that we are seeking. If you and THE HUB cannot agree how to resolve the Dispute within thirty (30) days after the date notice is received by the applicable party, then either you or THE HUB may, as appropriate and in accordance with this Section, commence an arbitration proceeding, or to the extent specifically provided for in section (A), file a claim in court.

<br /><br />


<b>E. Process.</b> Except for Disputes arising out of or related to a violation of Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and THE HUB agree that any Dispute must be commenced or filed by you or THE HUB within one (1) year of the date the Dispute arose, otherwise the underlying claim is permanently barred (which means that you and THE HUB will no longer have the right to assert such claim regarding the Dispute). You and THE HUB agree that <b>(1)</b> any arbitration will occur in Charlotte, North Carolina, <b>(2)</b> arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of the Judicial Arbitration and mediation Services (“JAMS”), which are hereby incorporated by reference, and <b>(3)</b> that the state or federal courts of the State of North Carolina and the United States, respectively, sitting in Charlotte, North Carolina have exclusive jurisdiction over any appeals and the enforcement of an arbitration award. You may also litigate a Dispute in the small claims court located in the county of your billing address if the Dispute meets the requirements to be heard in small claims court.



<br /><br />

<b>F. Authority of the Arbitrator.</b> As limited by the FAA, these Terms and the applicable JAMS rules, the arbitrator will have <b>(1)</b> the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable, and <b>(2)</b> the authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative action, which is prohibited by these Terms. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.

<br /><br />
<b>G. Rules of JAMS.</b> The rules of JAMS and additional information about JAMS are available on the <a href="https://www.jamsadr.com/">JAMS</a> website. By agreeing to be bound by these Terms, you either <b>(1)</b> acknowledge and agree that you have read and understand the rules of JAMS, or <b>(2)</b> waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.

<br /><br />
<b>H. Severability.</b> If any term, clause or provision of this Section is held invalid or unenforceable, it will be so held to the minimum extent required by law, and all other terms, clauses and provisions of this Section will remain valid and enforceable. Further, the waivers set forth in Section (B) are severable from the other provisions of these Terms and will remain valid and enforceable, except as prohibited by applicable law.

<br /><br />

<b>I. Opt-Out Right.</b>You have the right to opt out of binding arbitration within thirty (30) days of the date you first accepted the terms of this Section by writing to: Connechub, Inc., Attn: THE HUB Infringement Agent,  8807 citrus village dr 107 tampa,fl 33626. In order to be effective, the opt-out notice must include your full name and clearly indicate your intent to opt-out of binding arbitration. By opting out of binding arbitration, you are agreeing to resolve Disputes in accordance with Governing Law; Venue.

<br /><br />

<h4>GOVERNING LAW; VENUE.</h4>
These Terms, your access to and use of the THE HUB  and Materials shall be governed by and construed and enforced in accordance with the laws of the State of North Carolina without regard to conflict of law rules or principles (whether of the State of North Carolina or any other jurisdiction) that would cause the application of the laws of any other jurisdiction. Any Dispute between the parties that is not subject to arbitration or cannot be heard in small claims court, shall be resolved in the state or federal courts of the State of North Carolina and the United States, respectively, sitting in Charlotte,North Carolina.

<br /> <br /> 
<h4>MISCELLANEOUS</h4>
<b>A. Entire Agreement; Order of Precedence.</b> These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings between the parties regarding the THE HUB . These Terms do not alter the terms or conditions of any other electronic or written agreement you may have with THE HUB for the THE HUB  or for any other THE HUB product, feature, service or otherwise. In the event of any conflict between these Terms and any other agreement you may have with Connechub, the terms of that other agreement will control only if these Terms are specifically identified and declared to be overridden by such other agreement.

<br /><br />

<b>B. Amendments.</b> We reserve the right to make changes or modifications to these Terms from time to time, in our sole discretion. If we make changes to these Terms, we will provide you with notice of such changes, such as by sending you an email and/or by posting the amended Terms via THE HUB and updating the “Last Updated” date at the top of these Terms. All amended Terms will become effective immediately on the date they are posted to the THE HUB unless we state otherwise via our notice of such amended Terms. Any amended Terms will apply prospectively to use of THE HUB after such changes become effective. Your continued use of THE HUB following the effective date of such changes will constitute your acceptance of such changes. If you do not agree to any amended Terms, you must discontinue using THE HUB.

<br /><br />

<b>C. Severability.</b> If any provision of these Terms is held to be unenforceable for any reason, such provision will be reformed only to the extent necessary to make it enforceable, and such decision will not affect the enforceability of such provision under other circumstances, or of the remaining provisions hereof under all circumstances.

<br /><br />

<b>D. Waiver.</b> Our failure or delay in exercising any right, power or privilege under these Terms will not operate as a waiver thereof.

<br /><br />

<b>E. Relationship.</b> THE HUB is an independent contractor for all purposes, and is not your agent or trustee.

<br /><br />

<b> F. Assignment.</b>  You may not assign or transfer any of your rights or obligations under these Terms without prior written consent from Connechub, including by operation of law or in connection with any change of control. THE HUB may assign or transfer any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.

<br /><br />

<b> G. Headings.</b>  Headings of sections are for convenience only and will not be used to limit or construe such sections.

<br /><br />

<b> H. Survival.</b> (Disclaimer of Warranties), (Limitation of Liability), (Indemnity), (Arbitration), (Governing Law; Venue), this Section (Miscellaneous), and any other term that, by its nature, should survive, will survive any termination or expiration of these Terms.      
 <br /> <br /> 
Users complying with prior written licenses may access THE HUB thereby until authorization is terminated. Otherwise, this is the exclusive and entire agreement between us. If a TOC term is unenforceable, other terms are unaffected. If TOC translations conflict with the English version, English controls. See Privacy Policy for how we collect, use and share data. If you feel content infringes your rights see <%= link_to 'Privacy Policy', privacy_path %>.</p>
    If you have questions or Comments on these <strong>TOC</strong> click <%= link_to 'Contact Us', contact_path %>..
    <br />
    <div align="right"><a href="#">Top of the Page</a></div>
    </div>
    </div>
 </div>   
    
<div style="height: 15px; width: 100%;"></div>