<div class="dashboard-sections">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="dashboardbox">
                <div class="icon"><i class="lni-write"></i></div>
                <div class="contentbox">
                    <h2><a>Free Listings</a></h2>
                    <h3><%= user_listing_header_free %></h3>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="dashboardbox">
                <div class="icon"><i class="lni-add-files"></i></div>
                <div class="contentbox">
                    <h2><a>Paid Listings</a></h2>
                    <h3><%= user_listing_header_paid %></h3>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="dashboardbox">
                <div class="icon"><i class="lni-support"></i></div>
                <div class="contentbox">
                    <h2><a>Comments</a></h2>
                    <h3><%= user_listing_header_cmmt %></h3>
                </div>
            </div>
        </div>
    </div>
</div>
