<div class = "container">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

    <style>
        .price {
            font-size: 48px;
            color: black;
            text-align: center;
        }

        .price1 {
            font-size: 16px;
            padding-top: 10px;
            margin: auto;
            width: 75%;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        table.a {
            border-radius: 25px;
            width: 180px;
            Height: 250px;
        }

        table.b {
            border-radius: 25px;
            width: 180px;
            Height: 250px;
        }

        table.c {
            border-radius: 25px;
            width: 180px;
            Height: 250px;
        }

        table.d {
            border-radius: 25px;
            width: 180px;
            Height: 250px;
        }

        table.e {
            border-radius: 25px;
            width: 180px;
            Height: 250px;
        }

        td {
            padding: 8px;
            width: 180px;
            Height: 250px;
        }

        div.a {
            font-size: 16px;
            color: white;
            text-align: center;
            padding-bottom: 20px;
        }

        div.ab {
            font-size: 72px;
            color: white;
            text-align: center;
        }

        span.small {
            font-size: 20px;
            vertical-align: text-top;
            color: white;
            text-align: center;
        }

        td {
            vertical-align: text-top;
        }

        div.smalltext {
            font-size: 12px;
            color: white;
            text-align: center;

        }

        table.font1 {
            width: 180px;
        }

        div.font1 {
            font-size: 16px;
            color: Tomato;
        }

        div.font2 {
            font-size: 16px;
            color: Orange;
        }

        div.font3 {
            font-size: 16px;
            color: DodgerBlue;
        }

        div.font4 {
            font-size: 16px;
            color: SlateBlue;
        }

        div.font5 {
            font-size: 16px;
            color: MediumSeaGreen;
        }

        p {
            font-size: 16px;
            color: black;
        }

        ul.demo {
            font-size: 16px;
            color: gray;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .button {

            border-radius: 5px border: 1px #FFFFF;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            outline: none;
        }

        .bottompage {
            font-size: 16px;
            color: white;
            margin-left: 40px;
            margin-right: 40px;
        }

        footer {
            text-align: center;
            padding-top: 25px;
        }
    </style>

    <br>
    <div class="price">
        <b>Pricing Guide</b>
        <div class="price1">Connechub is free to signup and free to use as long as you want.</div>
    </div>
    <br>
    <br>

    <table class="center">
        <td>
            <table class="a" style="background-color:Tomato;">
                <th>
                    <div class="a">Free Listings</div>
                    <div class="ab"><span class="small">$</span>0</div>
                    <div class="smalltext">Per Listings</div>
                </th>
            </table>
            <br>
            <table class="font1">
                <tr><b>
                        <div class="font1">Free Categories</div>
                    </b>
                    <hr color="Tomato">
                    <p>These categories do not carry a charge and is free to post in any of their Subcategories:
                        <ul class="demo">
                            <li>Community</li>
                            <li>Campus</li>
                            <li>Hard to Find</li>
                            <li>Free</li>
                            <li>Unboxing</li>
                        </ul>
                    </p>
                </tr>
            </table>
        </td>


        <td>
            <table class="b" style="background-color:Orange;">
                <th>
                    <div class="a">Services</div>
                    <div class="ab"><span class="small">$</span>5</div>
                    <div class="smalltext">Per Listings</div>
                </th>
            </table>
            <br>
            <table class="font1">
                <tr><b>
                        <div class="font2">Services Category</div>
                    </b>
                    <hr color="Orange">
                    <p>Each subcategory here carries a $5.00 fee per listing:
                    </p>
                    <ul class="demo">
                        <li>Accountant</li>
                        <li>Architecture</li>
                        <li>Artists</li>
                        <li>Barber</li>
                        <li>Beauty Salons</li>
                        <li>Building Remodelling</li>
                        <li>Business Planner</li>
                        <li>Taxi Cab/UBER</li>
                        <li>Car Rental</li>
                        <li>Chef</li>
                        <li>Cleaning Services / Maids</li>
                        <li>Home Decor</li>
                        <li>Fitness Instructor</li>
                        <li>Elderly Care</li>
                        <li>IT / Programmer</li>
                        <li>Grant Writer</li>
                        <li>Health Spa</li>
                        <li>Lawn Care</li>
                        <li>Legal Services</li>
                        <li>Limousine</li>
                        <li>Repair / Handyman</li>
                        <li>Marketing Firm</li>
                        <li>nonprofit</li>
                        <li>Home Security</li>
                        <li>Structural Engineering</li>
                        <li>Home Remodelling</li>
                        <li>Auto Repair</li>
                        <li>Tutoring/Education</li>
                        <li>Website Designer</li>
                        <li>Plumber</li>
                        <li>Appliance Repair</li>
                        <li>Dog Walker</li>
                        <li>Pressure Washing</li>
                        <li>Computer Repair</li>
                        <li>Auto Insurance</li>
                        <li>Small Construction</li>
                        <li>Life Insurance</li>
                        <li>Mortgage Refinance</li>
                        <li>Photographers</li>
                        <li>Financial Planner</li>
                        <li>Music Dj &amp; Bands</li>
                        <li>Moving Company</li>
                        <li>Dentist</li>
                        <li>Doctors</li>
                        <li>Party Bus</li>
                        <li>Pawn Shops</li>
                        <li>Gun Shops</li>
                        <li>Laundromat</li>
                        <li>Massage Therapists</li>
                        <li>Garbage Collection</li>
                        <li>Churches</li>
                        <li>Pet Grooming</li>
                        <li>Restaurants</li>
                        <li>Pest Control Services</li>
                        <li>Dumpster Rental</li>
                        <li>Reception Halls</li>
                        <li>Roofing Contractors</li>
                        <li>Tow Truck Service</li>
                        <li>Cash Services</li>
                    </ul>
                </tr>
            </table>
        </td>


        <td>
            <table class="c" style="background-color:DodgerBlue;">
                <th>
                    <div class="a">Sales</div>
                    <div class="ab"><span class="small">$</span>10</div>
                    <div class="smalltext">Per Listings</div>
                </th>
            </table>
            <br>
            <table class="font1">
                <tr><b>
                        <div class="font3">Sales Category</div>
                    </b>
                    <hr color="DodgerBlue">
                    <p>There are only two subcategories that carry a $10.00 fee per listing:
                        <ul class="demo">
                            <li>Automotive</li>
                            <li>Tickets</li>
                        </ul>
                    </p>
                </tr>
            </table>
        </td>


        <td>
            <table class="d" style="background-color:SlateBlue;">
                <th>
                    <div class="a">Housing</div>
                    <div class="ab"><span class="small">$</span>10</div>
                    <div class="smalltext">Per Listings</div>
                </th>
            </table>
            <br>
            <table class="font1">
                <tr><b>
                        <div class="font4">Housing Category</div>
                    </b>
                    <hr color="SlateBlue">
                    <p>Each subcategory here carries a $10.00 fee per listing:
                    </p>
                    <ul class="demo">
                        <li>Apartments</li>
                        <li>Commercial</li>
                        <li>Homes</li>
                        <li>Rentals</li>
                        <li>Vacation</li>
                        <li>Condos</li>
                        <li>Farms</li>
                        <li>Lands</li>
                        <li>Ranches</li>
                        <li>Manufactured Homes</li>
                        <li>Townhomes</li>
                    </ul>
                </tr>
            </table>
        </td>


        <td>
            <table class="e" style="background-color:MediumSeaGreen;">
                <th>
                    <div class="a">Jobs</div>
                    <div class="ab"><span class="small">$</span>35</div>
                    <div class="smalltext">Per Listings</div>
                </th>
            </table>
            <br>
            <table class="font1">
                <tr><b>
                        <div class="font5">Jobs Category</div>
                    </b>
                    <hr color="MediumSeaGreen">
                    <p>Each subcategory here carries a $35.00 fee per listing:
                    </p>
                    <ul class="demo">
                        <li>Accounting</li>
                        <li>Admin/Clerical</li>
                        <li>Automotive</li>
                        <li>Banking</li>
                        <li>Biotech</li>
                        <li>Business Development</li>
                        <li>Business Opportunity</li>
                        <li>Construction</li>
                        <li>Consultant</li>
                        <li>Customer Service</li>
                        <li>Design</li>
                        <li>Distribution/Shipping</li>
                        <li>Education</li>
                        <li>Engineering</li>
                        <li>Entry Level</li>
                        <li>executive</li>
                        <li>Facilities</li>
                        <li>Finance</li>
                        <li>Franchise</li>
                        <li>General Business</li>
                        <li>General Labor</li>
                        <li>Government/Federal</li>
                        <li>Grocery Stores</li>
                        <li>Health Care</li>
                        <li>Hospitality/Hotel</li>
                        <li>Human Resources</li>
                        <li>Journalism/Newspaper</li>
                        <li>Information Technology</li>
                        <li>Installation</li>
                        <li>Insurance</li>
                        <li>Inventory</li>
                        <li>Legal</li>
                        <li>Legal Admin</li>
                        <li>Maintenance/Repair</li>
                        <li>Management</li>
                        <li>Manufacturing</li>
                        <li>Marketing</li>
                        <li>Media</li>
                        <li>Nonprofit</li>
                        <li>Nurse</li>
                        <li>Other</li>
                        <li>Pharmaceutical</li>
                        <li>Procurement</li>
                        <li>Professional Services</li>
                        <li>Purchasing</li>
                        <li>QA/Quality Control</li>
                        <li>Real Estate</li>
                        <li>Research</li>
                        <li>Restaurant</li>
                        <li>Retail</li>
                        <li>Sales</li>
                        <li>Science</li>
                        <li>Skilled Labor - Trades</li>
                        <li>Social Services</li>
                        <li>Strategy/Planning</li>
                        <li>Supply Chain</li>
                        <li>Telecommunications</li>
                        <li>Training</li>
                        <li>Transportation</li>
                        <li>Veterinary Services</li>
                        <li>Warehouse</li>
                    </ul>
                </tr>
            </table>
        </td>
    </table>

    <br>

    <footer style="background-color:DodgerBlue;">
        <table>
            <table>
                <tr>
                    <span class="price1">Connechub is free to signup and free to use as long as you want.</span>
                    <span>
                        <a
                            href="https://<%= ENV['STAGE'].downcase %>.connechub.com/users/sign_up"
                            class="button" style="background-color:MediumSeaGreen;"
                        >Get Started</a>
                    </span>
                </tr>
            </table>
        </table>
    </footer>


    </div>
</div>
<div style="height: 15px; width: 100%;"></div>
