/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require trix
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jbar.colors";
@import "jbar";

body {
  height: 100%;
}

/* sub/cateogry image thumbnail size */
div.panel-body > a > img {
  width: 100%;
}

.show-box {
  font-size: 12px;
  width: 500px;
  max-width: 100%;
}

.grid-item {
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  float: left;
  margin: 10px;
  width: 150px;

  .pin img {
    width: 200%;
    height: auto;
    border-radius: 7px;
  }

  .pin-content {
    font-size: 12px;
  }

  .name {
    font-size: 12px;
  }

  .board-name {
    color: #a4a4a4;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
}

.row1 {
  margin-right: inherit;
  margin-left: inherit;
  padding: 0 20px 0 20px;
  margin-bottom: 1px;
}

.dropup-menu {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
  margin-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 11px;
}

/*Dropdown Submenus*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #5074a4;
}

.dropdown-submenu.pull-left {
  float: right;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-nav .li_no_bg .ts-copy {
  font-size: 12px;
  padding-bottom: 15px;
  padding-top: 17px;
  line-height: 20px;
  margin-left: 7px;
  margin-right: 7px;
  display: block;
  height: 30px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/*  SECTIONS  */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float: right;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

/*  USERNAME POST PAGE STYLE  */

.catg_title {
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #707070;
  padding: 3px;
}

.category_title {
  font-size: 11px;
  font-weight: normal;
}

.category_title ul li a:hover {
  color: #fff; /* white */
  background-color: #3b7e3a; /* green */
  padding: 5px;
}

.price {
  font: Verdana, Arial, Helvetica, sans-serif;
  color: #3b7e3a;
  font-size: 14px;
}

.price1 {
  font: Verdana, Arial, Helvetica, sans-serif;
  color: #3b7e3a;
  font-size: 26px;
  padding: 3px;
  width: 150px;
}

.vertical-center {
  position: relative;
  top: 30%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: purple;
    }
  }
}

.small-heading {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.hero-description {
  width: 85%;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 4px;
  color: #ffffff;
}

.hero-avatar {
  webkit-border-radius: 6px 0 6px 6px;
  moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
  position: relative;
  width: 85px;
  height: 85px;
}

.avatar-image {
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.pin-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #5775ba;
  border: 1px solid;
  padding: 0.6em 1em 0.7em 1em;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.profile-info {
  max-width: 450px;
  width: 80%;
}

.comments {
  padding: 10px;
  border: 1px solid;
  border-color: #86c3ff;
  padding: 0.6em 1em 0.7em 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f4f8fc;
  width: 450px;
}

.post-title {
  opacity: 1.4;
  font-size: 120%;
}

.post-metadata .post-info {
  padding-left: 10px;
  width: 100%;
}

.post-metadata {
  margin-top: 20px;
  display: flex;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}

.rightbar0 {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.rightbar {
  background: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  webkit-border-radius: 6px 6px 6px 6px;
  moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.rightbar-top {
  margin: 16px;
}

.space {
  padding-bottom: 5px;
}

.leftbar {
  float: left;
  width: 75%;
  margin-right: 18px;
}

.contatcus {
  font-size: 12px;
}

.abouttxt {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #000000;
  padding: 50px;
}

.aboutborder {
  border-style: solid;
  border-width: 10px;
  border-color: #c2f0c2 #c2f0c2 #c2f0c2 #b3d9ff;
  webkit-border-radius: 6px 0 6px 6px;
  moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
  padding: 5px;
}

.abouttxt11 ul li {
  list-style: square;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

.business-header {
  height: 400px;
  background: url("connechub_about_us.jpg") center center no-repeat scroll;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
  // -o-background-size: cover;
}

.featurette-divider {
  margin: 30px 0;
}

.featurette {
  overflow: hidden;
}

.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
}

/*inside view of the page where main content is located */
#inside_view {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#inside_view_left {
  background-color: #585858;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 140px;
  position: fixed;
}

/* left side */
/*left side profile info such as name, view my profile, and edit links*/
#lft_container1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
}

#lft_container1 ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px;
  display: block;
}

#lft_container1 ul li {
  float: none;
  padding: 0px 0px;
  margin: 0px;
}

/*left side profile info such as name, address, etc..*/
.profile_info {
  padding: 3px;
  list-style-type: none;
}

#pro_stuff1 {
  padding: 5px 5px;
  font-family: verdana, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #ffffff;
}

.prophoto {
  padding-left: 10px;
}

.btn-success {
  background-color: #3b7e3a;
  border-color: #3b7e3a;
}

/* ConnecHub flexbox implimentation */

.ch_card_container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .ch_card {
    flex-basis: 25%;
  }
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 15%;
  opacity: 0.9;
  display: none;
}

/* right side UL menu on sub/category views */
body > div > div > div > div > ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

/* User Mgnt View styles */
#app_view_devise {
  .panel-heading {
    padding: 5px 15px;
  }

  .panel-footer {
    padding: 1px 15px;
    color: #a0a0a0;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .sign-h {
    text-align: left;
    color: #317eac;
  }

  #sign-icon {
    margin-right: 5px;
    color: #317eac;
  }
}

/* Use to allow the fee message form-control container ehight to adjust as needed on http[s]://FQDN/listings/new */
.fee_amount_message {
  height: initial;
}

/* space items on the landing page */
li.landing_page {
  padding: 5px 0px;
}

/* Number of items in a cat / sub-cat */
.cat_item_count {
  color: #4cae4c;
}

/* Word wrap Listing card long titles */
div.name > b > a {
  word-wrap: break-word;
}

/* Strip payment form elements */

/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
  -webkit-transition: box-shadow 150ms ease;
  background-color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/**
* Category / SubCategory side menu styleing
*/
.side-menu {
  border-right: 1px solid #eeeeee;
}

/* Override BS3 navbar style */
.navbar {
  margin-bottom: 0px !important;
}

/* Google Captcha inline element styling */
div.g-recaptcha > div {
  margin-bottom: 20px;
  text-align: center;
  width: 100% !important;
}

/* Do not collapse top menu */
/* source https://trello.com/c/KGAITL6c/70-remove-the-top-hamburger-from-the-cellphone */

.nav {
  float: right !important;
}

.nav > li {
  position: relative;
  display: inline-block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 9px;
}