.container {
  margin: auto;
  width: 900px;
  height: 100%;
  footer {
    margin-top: 20px;
  }

  /* Form */
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
  }

  #page-wrap {
    width: 660px;
    background: white;
    padding: 20px 50px 20px 50px;
    margin: 20px auto;
    min-height: 500px;
    height: auto !important;
    height: 500px;
  }

  label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 16px;
  }
}
.vertical-center{
  position: relative;
  top: 30%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: purple;
    }
  }
}
.topbar {
  background: #cccccc;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  color:#ffffff;
}
.leftbar {
  float: left;
  width: 19%;
  background: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  margin-right: 18px;
  height: 500px;
  ul {
    margin-top: 20px;
    text-align: center;
    li {
      margin-bottom: 15px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: purple;
    }
  }
  h1 {
    font-size: 32px;
    text-align: center;
  }
  form {
    margin-top: 40px;
    text-align: center;
    select {
      width: 95px;
    }
    input {
      width: 130px;
    }
  }
}


.rightbar {
  float: right;
  width: 100%;
  background: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  height: 300px;
  ul {
    text-align: center;
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
      li {
        margin-bottom: 15px;
      }
    }
  li {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  .rightbar-top {
    margin-top: 40px;
  }
}
.listing-header {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box {
  display: block;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: .25em;
  width: 300px;
  height: 50px;
  margin-left: 10px;
  float: right;
}
.row div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.row div {
  width: 100px;
  margin-bottom: 40px;
  text-align: center;
}
.newest {
  padding: 5px 0;
  display: block;
  border-radius: 5px;
  border: 1px #ccc solid;
}
.oldest {
  padding: 5px 0;
  display: block;
  border-radius: 5px;
  border: 1px #ccc solid;
}
.highest-price {
  padding: 5px 0;
  display: block;
  border-radius: 5px;
  border: 1px #ccc solid;
}
.lowest-price {
  padding: 5px 0;
  display: block;
  border-radius: 5px;
  border: 1px #ccc solid;
}
.sort-row div {
  display: inline;
  vertical-align: baseline;
  .search-sort {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100px;
  }
}

.list-margin {
  span {
    color: gray;
    font-size: 14px;
    margin-right: 20px;
  }
  li {
    margin-bottom: 20px;
  }
}

.alert-box {
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;
  span {
    font-weight:bold;
    text-transform:uppercase;
  }
}
.danger {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

