<div>
  <%= render :partial => 'categories/show', locals: {
    campus: @campus,
    community: @community,
    free: @free,
    h2f: @h2f,
    housing: @housing,
    jobs: @jobs,
    listings: @listings,
    sale: @sale,
    services: @services,
    unboxing: @unboxing,
    listings: @listings
  }  %>
</div>
