<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', (ENV['BASE_URL'] + '/users/password/edit?confirmation_token=' + @token) %></p>


