#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 15%;
  opacity: 0.9;
  display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.pagy-padding {
  padding-bottom: 20px;
}

H1 > span.section-title-white {
  color: #ffff;
}

H1 > span.section-title-blue {
  color: #03A9F4;
}

H1 > span.section-title-green {
  color: #00E676;
}

h6.section-sub-header {
  font-weight: bolder;
  float: right;
  padding-bottom: 20px;
}
